<header id="main-header">
  <nav id="main-nav">
    <section id="primary-nav">
      <a href="/">Unison</a>
      <a href="/learn">Learn</a>
      <a href="/vision">Vision</a>
      <a href="/community">Community</a>
      <a href="https://share.unison-lang.org" target="_blank">Share</a>
    </section>

    <section id="secondary-nav">
      <a href="/news">News & Changelog</a>
      <a href="https://twitter.com/unisonweb" target="_blank">Twitter</a>
      <a href="https://github.com/unisonweb/unison" target="_blank">GitHub</a>
    </section>
  </nav>
</header>
