<footer id="main-footer">
&copy; {% currentYear %} <a href="/unisoncomputing">Unison Computing, a public benefit corp</a> and <a target="_blank" href="https://github.com/unisonweb/unison/blob/trunk/CONTRIBUTORS.markdown">contributors</a>.
</footer>
