<footer id="main-footer">
<div>&copy; {% currentYear %}</div>
<a href="/unisoncomputing">Unison Computing, a public benefit corp</a>
<div>and <a target="_blank" href="https://github.com/unisonweb/unison/blob/trunk/CONTRIBUTORS.markdown">contributors</a>.</div>
</footer>
