<header id="main-header">
  <nav id="main-nav">
    <section id="primary-nav">
      <a href="https://unisonweb.org" id="logo">
        <img src="/img/icon-unison-mark.svg" id="logo-icon"/>
        Unison
      </a>
    </section>

    <section id="secondary-nav">
      <a href="https://unisonweb.org/docs">Docs</a>
      <a href="https://unisonweb.org/community">Community</a>
      <a href="https://share.unison-lang.org" target="_blank">Share</a>
      <a href="https://unisonweb.org/blog">Blog</a>
    </section>
  </nav>
</header>
