<header id="main-header">
  <div class="announcement">
    <img src="https://www.unison-lang.org/assets/unison-forall.png" width="48">
    <a href="/conference">The Unison Forall 2024 conference is coming up this September 20.</a>
    <a class="button small contained primary-mono" href="/conference">Sign up for free</a>
  </div>
  {% include "_main-nav.njk" %}
</header>
