<meta charset="utf-8" />
{% if summary %}
<meta name="description" content="{{ summary }}" />
<meta name="twitter:description" content="{{ summary }}" />
<meta property="og:description" content="{{ summary }}" />
{% else %}
<meta
  name="description"
  content="A friendly programming language from the future."
/>
<meta
  name="twitter:description"
  content="A friendly programming language from the future."
/>
<meta
  property="og:description"
  content="A friendly programming language from the future."
/>
{% endif %}
<meta
  name="viewport"
  content="width=device-width, initial-scale=1, shrink-to-fit=no"
/>

<meta name="theme-color" content="#ffffff" />

{% if overallTitle %}
<meta
  property="og:title"
  content="{{ overallTitle }} | {{
    title
  }} &middot; Unison programming language"
/>
<meta
  name="twitter:title"
  content="{{ overallTitle }} | {{
    title
  }} &middot; Unison programming language"
/>
{% elif title %}
<meta
  property="og:title"
  content="{{ title }} &middot; Unison programming language"
/>
<meta
  name="twitter:title"
  content="{{ title }} &middot; Unison programming language"
/>
{% else %}
<meta property="og:title" content="Unison programming language" />
<meta name="twitter:title" content="Unison programming language" />
{% endif %}

<meta property="og:type" content="blog" />
<meta property="og:url" content="https://unison-lang.org" />
<meta
  property="og:image"
  content="https://unison-lang.org/assets/unison-social.png"
/>
<meta property="og:image:width" content="1200" />
<meta property="og:image:height" content="1200" />

<meta name="twitter:card" content="summary" />
<meta
  name="twitter:image"
  content="https://unison-lang.org/assets/unison-social.png"
/>
<meta name="twitter:site" content="@unisonweb" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="alternate icon" href="/favicon.ico" />

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Fira+Code&family=Inter:wght@400;600;700;900&family=Palanquin+Dark:wght@400;500;600;700&display=swap"
  rel="stylesheet"
/>

<link rel="stylesheet" href="/css/styles.css" />

<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
<link rel="alternate icon" href="/favicon.ico" />
<link
  rel="alternate"
  href="/feed.xml"
  type="application/atom+xml"
  title="Unison Language | Whats New?"
/>

<script
  defer
  data-domain="unison-lang.org"
  src="https://plausible.io/js/plausible.js"
></script>
