<header id="main-header">
  <a class="announcement" href="https://unison.cloud/byoc" target="_blank">
    ⛅ Coming soon: create Unison Cloud clusters in minutes on your own infrastructure.
  </a>
  {% include "_main-nav.njk" %}
</header>
