.fold-toggle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.25rem;
  line-height: 1;
  border-radius: var(--border-radius-base);
  transition: all 0.2s;
  cursor: pointer;
  background: var(--color-fold-toggle-bg);
}

.fold-toggle.disabled {
  cursor: default;
  opacity: 0.5;
}

/* ▶ */
.fold-toggle .icon {
  color: var(--color-fold-toggle-fg);
  font-size: 1rem;
  transition: color 0.2s, transform 0.1s ease-out;
}

/* rotate ▶ to ▼ */
:not(.is-folded) > .fold-toggle {
  transform: rotate(90deg);
}

.fold-toggle:not(.disabled):hover {
  background: var(--color-fold-toggle-hover-bg);
}

.fold-toggle:not(.disabled):hover .icon {
  color: var(--color-fold-toggle-hover-fg);
}
