---
layout: "whats-new-index"
---

<div class="post-summaries">
  {%- for p in collections['whats-new'] | reverse -%}
    <a href="{{p.url}}" class="card contained">
      <header>
          {% if p.data.featuredImage %}
            <img src="{{ p.data.featuredImage }}" class="featured-image">
          {% else %}
            <img src="/assets/highlights.svg" class="featured-image">
          {% endif %}
        <div class="categories">
          {%- for c in p.data.categories -%}
          <div class="category">{{ c }}</div>
          {%- endfor -%}
        </div>
        <h2>{{ p.data.title }}</h2>
      </header>
      <section>
        <p>{{ p.data.summary }}</p>
      </section>
      <footer>
        <div class="authors">
        {%- for a in p.data.authors -%}
          <span class="author">{{ a | author }}</span>
        {%- endfor -%}
        </div>
        <span class="date">{{ p.data.date | formatDate }}</span>
      </footer>
    </a>
  {%- endfor -%}
</div>
