node_modules
.DS_Store
build
.unison/v2/unison.sqlite3-shm
.unison/v2/unison.sqlite3-wal
.unisonHistory
reflog
scratch.u

# Docs, articles, and sidebar content are pre-built in build/docs and copied
# into src/docs. They do not belong in the git repository as files, since their
# source exists in the codebase
src/docs
src/articles
src/posts
src/pages
src/home
src/community
src/_includes/_doc-sidebar-content.njk
src/_includes/_home-examples.njk

# Transcript
*.output.md

# Local Netlify folder
.netlify
