---
tags: blog
permalink: blog/holiday-card-2023/index.html
authors:
  - rebecca-mark
  - simon-højberg
categories:
  - highlights
date: 2023-12-27T00:00:00.000Z
featuredImage: /assets/aoc-2022.svg
status: published
summary: 'We wish all of you a festive holiday season and a New Year filled with possibilities!'
title: Happy Holidays from the Unison team
eleventyExcludeFromCollections: false
---
<!doctype html>

<html lang="en">
  <head>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Rye"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css2?family=Corben"
    />
    <link rel="stylesheet" type="text/css" href="/css/holiday-card-2023.css" />
    <meta charset="utf-8" />
    <title>Unison Holiday Card 2023</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Satisfy&display=swap" rel="stylesheet">
  </head>
  <body>
    <a href="/" class="back">Back to the Unison website</a>
    <div class="happy-holidays main-title">
      <img
        src="/assets/holiday-card-2023/happy.png"
        alt="Happy"
      />
      <img
        src="/assets/holiday-card-2023/holidays.png"
        alt="Holidays"
      />
    </div>

    <div class="cloud-container">
      <img
        src="/assets/holiday-card-2023/stars2160.png"
        id="stars-top"
        alt="Stars"
        class="cloud"
      />
      <section class="cloud">
        <img src="/assets/holiday-card-2023/Moon1080.png" id="moon-1" alt="Moon" />
      </section>

      <img
        src="/assets/holiday-card-2023/CloudUpper1080.png"
        id="cloud-1"
        class="cloud"
        alt="Cloud"
      />
      <img
        src="/assets/holiday-card-2023/CloudLower1080.png"
        id="cloud-2"
        class="cloud"
        alt="Cloud"
      />

      <section class="cloud">
        <img src="/assets/holiday-card-2023/Santa1080.png" id="santa-1" alt="Santa and sleigh" />
      </section>
    </div>

    <div class="ground-container">
      <img
        src="/assets/holiday-card-2023/stars2160.png"
        id="stars-bottom"
        alt="Stars"
        class="ground background stars"
      />
      <img
        src="/assets/holiday-card-2023/comet.png"
        alt="Comet"
        class="ground background comet"
      />

      <!-- Ground -->
      <img
        src="/assets/holiday-card-2023/BackgroundMtns2160.png"
        alt="Mountains background"
        class="ground background mtns"
      />
      <img
        src="/assets/holiday-card-2023/LightBackground2160.png"
        alt="Light ground"
        class="ground background lt-bkground"
      />

      <!-- Two backmost trees -->
      <img
        src="/assets/holiday-card-2023/LeftBackTree2-2160.png"
        alt="Left background dark tree"
        class="ground left-back-tree2 left-trees"
      />
      <img
        src="/assets/holiday-card-2023/RightBackTree2-2160.png"
        alt="Right background dark tree"
        class="ground right-back-tree2 right-trees"
      />

      <!-- Main tree -->
      <img
        src="/assets/holiday-card-2023/BaseTree2160.png"
        alt="Main holiday tree"
        class="ground main-tree"
      />
      <img
        src="/assets/holiday-card-2023/BlueLights2160.png"
        alt="Blue lights"
        class="ground main-tree lights"
      />
      <img
        src="/assets/holiday-card-2023/RedLights2160.png"
        alt="Red lights"
        class="ground main-tree lights"
      />
      <img
        src="/assets/holiday-card-2023/GreenYellowLights2160.png"
        alt="Yellow lights"
        class="ground main-tree lights"
      />
      <img
        src="/assets/holiday-card-2023/PinkLights2160.png"
        alt="Pink lights"
        class="ground main-tree lights"
      />

      <!-- Trees flanking scene -->
      <img
        src="/assets/holiday-card-2023/RightBackTree2160.png"
        alt="Right tree background"
        class="ground right-back-tree right-trees"
      />
      <img
        src="/assets/holiday-card-2023/LeftBackTree2160.png"
        alt="Left tree background"
        class="ground left-back-tree left-trees"
      />
      <img
        src="/assets/holiday-card-2023/LeftFrontTree2160.png"
        alt="Tree on left side of screen"
        class="ground left-front-tree left-trees"
      />
      <img
        src="/assets/holiday-card-2023/RightFrontTree2160.png"
        alt="Tree on right side of screen"
        class="ground right-front-tree right-trees"
      />

      <!-- Presents -->
      <img
        src="/assets/holiday-card-2023/Presents2160.png"
        alt="Present"
        class="ground present present-back"
      />

      <div class="ground card">
        <div class="card-content">
          <div class="happy-holidays">
            <img
              src="/assets/holiday-card-2023/happy.png"
              alt="Happy"
            />
            <img
              src="/assets/holiday-card-2023/holidays.png"
              alt="Holidays"
            />
          </div>
          <div class="unison-mark">
            <img
              src="/assets/holiday-card-2023/UnisonRed.png"
              alt="Unison logo"
            />
          </div>
          <div class="card-text">
            <p>
              We wish all of you a festive holiday season and a New Year filled
              with possibilities! Whether you've just learned about Unison or have
              authored multiple libraries on the
              <a href="https://share.unison-lang.org/" target="_blank">
                front page of the Unison Share catalog
              </a>, you’re a part of what inspires us to
              make Unison happen. We look forward to another year of growth,
              collaboration, and community with you all. Keep creating and sharing!
            </p>
            <p>
              This month many of the Unison community members participated in the
              <a href="https://adventofcode.com" target="_blank">Advent of Code</a>.
              Our community spaces have been filled with folks sharing tips,
              solutions, and written explainers of their implementations. We want
              to highlight our community's commitment to learning and generosity by
              sharing some of the work they’ve done over the month (this list is
              backed by a Unison Cloud service!) Many forayed into new parts of the
              standard library and their Readme’s stand alone as tutorials in their
              own right! Enjoy!
            </p>

            <h2>Advent of Code Highlights</h2>

            <div class="days">
            {%- for day, submissions in aoc2023 %}
              <div class="day">
                <div class="day-title">Day {{day}}</div>
                  <div class="submissions">
                  {%- for submission in submissions %}
                  <div class="submission">
                    {%- if submission.readmeURL %}
                    <a href="{{submission.readmeURL}}" target="_blank">
                      {{submission.shareHandle}}
                    </a>{%- elseif submission.solutionURLs -%}{%- for solutionUrl in submission.solutionURLs %}
                      {%- if loop.index !== 1%}, {%- endif %}
                      <a href="{{solutionUrl}}" target="_blank">
                        {{submission.shareHandle}}
                        {%- if submission.solutionURLs.length > 1 %}
                        solution #{{loop.index}}{%- endif %}</a>{%- endfor -%}{%- endif -%}
                  </div>
                  {%- endfor -%}
                </div>
              </div>
            {%- endfor -%}
            </div>
          </div>
        </div>
      </div>

      <!-- Foreground details -->
      <img
        src="/assets/holiday-card-2023/ForegroundLeft2160.png"
        alt="Left foreground bush"
        class="ground left-foreground"
      />
      <img
        src="/assets/holiday-card-2023/ForegroundRight2160.png"
        alt="Right foreground bush"
        class="ground right-foreground"
      />
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/gsap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.12.4/ScrollTrigger.min.js"></script>
    <script src="/js/holiday-card-2023.js"></script>
  </body>
</html>
