<!doctype html>

<html lang="en">
  <head>
    {% include "_head.njk" %}
    <title>{{overallTitle}} | {{ title }} &middot; the Unison language</title>
  </head>

  <body>
    <main id='article'>
      {% include "_header.njk" %}
      <div id="main-content">
        <h2 id="overall-title"><a href="{{articleIndex}}">{{ overallTitle }}</a></h2>

        <h1 id="title">{{ title }}</h1>

        {% if authors.length %}
          <div id="byline">
            <span class="by">by</span>
            <ul class="authors">
            {%- for author in authors -%}
              <li class="author">{{ author.name }}</li>
            {%- endfor -%}
            </ul>
          </div>
        {% endif %}

        <nav id="index">
          <div class="links">
            <h3 class="in-this-article">In this article</h3>
            {%- for link in sidebar -%}
              <a title="{{link.label}}" href="{{link.href}}"{% if page.url == link.href + "/" %} aria-current="page"{% endif %}>
                {{ link.label }}
              </a>
            {%- endfor -%}
          </div>

          <div class="compositional-distributed-systems-cta">
            <p>This article is part of a series of compositional distributed systems</p>
            <a href="https://github.com/unisonweb/unison/discussions/2605" rel="noopener" target="_blank">
              Vote on or propose topics
            </a>
          </div>
        </nav>

        {{content | safe}}

        {% articlePagination sidebar, page.url %}

        <div class="unison-at-work-cta">
          <p>If you're interested in using <strong>Unison at work</strong> for this sort
          of thing, we'd love to chat with you.</p>

          <button data-tf-popup="qQwzyJNs" class="button contained primary medium">
            Get in touch
          </button>
        </div>

        {% include "_footer.njk" %}
      </div>
    </main>
    {% include "_js.njk" %}
  </body>
</html>
