<!doctype html>

<html lang="en">
  <head>
    {% include "_head.njk" %}
    <title>{{ title }} &middot; Unison programming language</title>
  </head>

  <body>
    <main id='article'>
      {% include "_header.njk" %}
      <div id="main-content">
        <h1 id="title">{{ title }}</h1>

        {{content | safe}}

        {% include "_footer.njk" %}
      </div>
    </main>
    {% include "_js.njk" %}
  </body>
</html>
