<!DOCTYPE html>
<html lang="en">
  <head>
    {% include "_head.njk" %}
    <title>{{ title }} &middot; Unison programming language</title>
  </head>

  <body>
    <main id="blog-post">
      {% include "_header.njk" %}
      <div id="main-content">
        <header class="post-header">
          <div class="categories-and-date">
            <div class="categories">
              {%- for c in categories -%}
              <span class="category">{{ c }}</span>
              {%- endfor -%}
            </div>

            <span class="date">{{ date | formatDate }}</span>
          </div>

          <h1 id="title">{{ title }}</h1>

          <div class="authors">
            {%- for a in authors -%}
            <span class="author">{{ a | author }}</span>
            {%- endfor -%}
          </div>
        </header>

        {% if featuredImage %}
        <img src="{{ featuredImage }}" class="featured-image" />
        {% endif %} {{ content | safe }} {% include "_footer.njk" %}
      </div>
    </main>
    {% include "_js.njk" %}
  </body>
</html>
