<!doctype html>

<html lang="en">
  <head>
    {% include "_head.njk" %}
    <title>{{ title }} &middot; the Unison language</title>
  </head>

  <body>
    <main id='doc'>
      {% include "_header.njk" %}
      <aside id='main-sidebar'>{% include "_doc-sidebar-content.njk" %}</aside>
      <div id="main-content">
        <h1 id="title">{{ title }}</h1>
        {{content | safe}}
        {% include "_footer.njk" %}
      </div>
    </main>
    <script src="/js/docs.js"></script>
  </body>
</html>
