<!doctype html>

<html lang="en">
  <head>
    {% include "_head.njk" %}
    <title>{{ title }} &middot; the Unison language</title>
  </head>

  <body>
    <main id='doc'>
      {% include "_header.njk" %}
      {% include "_sidebar.njk" %}
      <div id="main-content">
        {{content | safe}}
        {% include "_footer.njk" %}
      </div>
    </main>
  </body>
</html>
