---
title: "Whats New?"
---

<!doctype html>

<html lang="en">
  <head>
    {% include "_head.njk" %}
    <title>Whats New? &middot; Unison programming language</title>
  </head>

  <body>
    <main id='whats-new-index'>
      {% include "_header.njk" %}
      <div id="main-content">
        {{content | safe}}

        {% include "_footer.njk" %}
      </div>
    </main>
    {% include "_js.njk" %}
  </body>
</html>
