---
tags: page
title: Unison Roadmap
---

<!DOCTYPE html>

<html lang="en">
  <head>
    {% include "_head.njk" %}
    <title>Unison Roadmap</title>
  </head>

  <body>
    <main id="roadmap">
      <header id="main-header">{% include "_main-nav.njk" %}</header>

      <article id="hero">
        <h1>
          Unison Language<br />and Platform
          <span class="hero-roadmap">Roadmap</span>
        </h1>
        <h2>Learn where Unison is headed</h2>
      </article>

      <div class="main-content">
        <article class="roadmap_intro">
          <p>
            Check out what we’re excited about and working on at the moment 😎
          </p>
          <p class="subtle">
            The roadmap is of course not an exhaustive list of our efforts and
            is very much subject to change.
          </p>
        </article>

        <hr class="divider" />

        <article class="roadmap_section">
          <header class="roadmap_section_header">
            <h2>Now</h2>
            <p>Active and ongoing efforts.</p>
          </header>

          <section class="roadmap_items">
            {%- for i in roadmap.now %}
            <div class="roadmap_item">
              <header>
                <ul class="roadmap_areas">
                  {%- for a in i.areas %}
                  <li class="{{ a }}">{{ roadmap.areas[a] }}</li>
                  {%- endfor -%}
                </ul>
                <h3>{{ i.title }}</h3>
              </header>
              <div class="roadmap_item_description">
                {{ i.description | striptags(true) | escape | nl2br }}
              </div>
            </div>
            {%- endfor -%}
          </section>
        </article>

        <hr class="divider" />

        <article class="roadmap_section">
          <header class="roadmap_section_header">
            <h2>Next</h2>
            <p>Things we are quite likely to work on Next.</p>
          </header>

          <section class="roadmap_items">
            {%- for i in roadmap.next %}
            <div class="roadmap_item">
              <header>
                <ul class="roadmap_areas">
                  {%- for a in i.areas %}
                  <li class="{{ a }}">{{ roadmap.areas[a] }}</li>
                  {%- endfor -%}
                </ul>
                <h3>{{ i.title }}</h3>
              </header>
              <div class="roadmap_item_description">
                {{ i.description | striptags(true) | escape | nl2br }}
              </div>
            </div>
            {%- endfor -%}
          </section>
        </article>

        <hr class="divider" />

        <article class="roadmap_section">
          <header class="roadmap_section_header">
            <h2>Later</h2>
            <p>Things we are considering working on in the future.</p>
          </header>

          <section class="roadmap_items roadmap_item_list">
            {%- for i in roadmap.later %}
            <div class="roadmap_item roadmap_item_small">
              <header>
                <h3>{{ i.title }}</h3>
                <ul class="roadmap_areas">
                  {%- for a in i.areas %}
                  <li class="{{ a }}">{{ roadmap.areas[a] }}</li>
                  {%- endfor -%}
                </ul>
              </header>
            </div>
            {%- endfor -%}
          </section>
        </article>
        {% include "_footer.njk" %}
      </div>
    </main>
  </body>
</html>
