main#about-us {
  --main-content-width: 50rem;

  #main-content {
    color: var(--color-gray-darken-30);

    p {
      margin-bottom: 1em;
    }

    .page-header {
      margin: 1.5rem 0 3rem 0;

      #title {
        font-size: 4rem;
        line-height: 1.1;
        font-weight: bold;
        letter-spacing: -2.5px;
        color: var(--color-gray-darken-30);
      }

      h2 {
        font-size: 1.25rem;
        font-weight: 600;
        color: var(--color-gray-lighten-30);
      }
    }

    .intro {
      margin-bottom: 4rem;
      font-size: 1.25rem;
    }

    .team {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin: 0 -2rem;
    }
  }
}
