main#article #main-content {
  position: relative;
  overflow: visible;
}

main#article
  .unison-doc
  > section:first-child
  > section:first-child
  > h1:first-child,
main#article .unison-doc > section:first-child > h1:first-child {
  font-size: 3.5rem;
  font-weight: 900;
  margin: 1.5rem 0;
}

main#article #overall-title {
  font-size: 1rem;
  text-transform: uppercase;
  font-weight: normal;
  color: var(--color-doc-subtle-fg);
}

main#article nav#index {
  position: absolute;
  left: 0;
  width: 22rem;
  transform: translateX(-100%);
  font-size: var(--font-size-medium);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  padding: 1.5rem;
  border-right: 1px solid var(--color-doc-content-border);
}

main#article nav#index a {
  display: flex;
  flex: 1;
  height: 1.5rem;
  align-items: center;
  justify-content: right;
  text-align: right;
  position: relative;
  color: var(--color-doc-index-fg);
}

main#article nav#index a:hover {
  color: var(--color-doc-index-hover-fg);
  text-decoration: none;
}

main#article nav#index a[aria-current] {
  font-weight: bold;
  color: var(--color-doc-index-current-fg);
}
main#article nav#index a[aria-current]:hover {
  color: var(--color-doc-index-current-fg);
}

main#article nav#index a[aria-current]:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1.5rem;
  margin-right: -3px;
  background: var(--color-pink-1);
  box-shadow: 0 0 0 4px #fff;
  border-radius: 4px;
  width: 5px;
  content: " ";
}

main#article footer.article-pagination {
  border-top: 1px solid var(--color-doc-content-border);
  margin-top: 3rem;
  padding-top: 1.5rem;
  margin-bottom: 4rem;
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 1.5rem;
}
main#article footer.article-pagination a {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  font-size: var(--font-size-medium);
  color: var(--color-doc-fg);
  flex-grow: 1;
  flex-basis: 0;
  border-radius: var(--border-radius-base);
  background: var(--color-doc-aside-bg);
  padding: 0.5rem 1rem;
  max-width: 50%;
}
main#article footer.article-pagination a.prev {
  align-items: flex-end;
}
main#article footer.article-pagination a.next {
  align-self: flex-end;
  margin-left: auto;
}
main#article footer.article-pagination a .direction {
  color: var(--color-doc-subtle-fg);
  text-transform: uppercase;
  font-weight: normal;
  font-size: var(--font-size-small);
}
main#article footer.article-pagination a:hover {
  text-decoration: none;
  background: var(--color-doc-aside-bg);
  color: var(--color-pink-1);
}

@media only screen and (max-width: 1024px) {
  main#article nav#index {
    position: static;
    border: none;
    padding-left: 0;
    margin-bottom: 2rem;
  }

  main#article nav#index a {
    justify-content: flex-start;
  }
  main#article nav#index a[aria-current]:after {
    display: none;
  }
}
