main#article #main-content {
  position: relative;
  overflow: visible;
}

main#article #overall-title {
  font-size: var(--font-size-medium);
  text-transform: uppercase;
  font-weight: normal;
  text-align: center;
  letter-spacing: 0.1rem;
}
main#article #overall-title a {
  color: var(--color-pink-3);
}
main#article #overall-title a:hover {
  color: var(--color-pink-1);
  text-decoration: none;
}

main#article #title {
  font-size: 4rem;
  font-weight: 700;
  margin: 1.5rem 0 4rem 0;
  line-height: 1.1;
  text-align: center;
  font-family: "Playfair Display", serif;
}

main#article #byline {
  text-align: center;
  color: var(--color-main-subtle-fg);
  font-size: var(--font-size-small);
  margin-bottom: 2rem;
  margin-top: -2rem;
}

main#article #byline .by {
  margin-right: 0.2ch;
}
main#article #byline .authors {
  display: inline;
  list-style: none;
}

main#article #byline .author {
  color: var(--color-main-subtle-fg-em);
  display: inline;
}

main#article #byline .author:after {
  color: var(--color-main-subtle-fg);
  content: ", ";
}

main#article #byline .author:last-child:after {
  content: "";
}

main#article
  #byline
  .authors
  .author:nth-last-child(3)
  ~ main#article
  #byline
  .author:nth-last-child(2):after {
  color: var(--color-main-subtle-fg);
  content: ", and ";
}

main#article nav#index {
  position: absolute;
  left: 0;
  width: 20.5rem;
  transform: translateX(-100%);
  font-size: var(--font-size-medium);
  display: flex;
  flex-direction: column;
  padding: 1.5rem;
  border-right: 1px solid var(--color-doc-content-border);
}

main#article nav#index .links {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

main#article nav#index .links .in-this-article {
  display: none;
  font-weight: normal;
  font-size: var(--font-size-small);
  text-align: right;
  color: var(--color-doc-subtle-fg);
}

main#article nav#index .links a {
  display: flex;
  flex: 1;
  height: 1.5rem;
  align-items: center;
  justify-content: right;
  text-align: right;
  position: relative;
  color: var(--color-doc-index-fg);
}

main#article nav#index .links a:hover {
  color: var(--color-doc-index-hover-fg);
  text-decoration: none;
}

main#article nav#index .links a[aria-current] {
  font-weight: bold;
  color: var(--color-doc-index-current-fg);
}
main#article nav#index .links a[aria-current]:hover {
  color: var(--color-doc-index-current-fg);
}

main#article nav#index .links a[aria-current]:after {
  position: absolute;
  top: 0;
  bottom: 0;
  right: -1.5rem;
  margin-right: -3px;
  background: var(--color-pink-1);
  box-shadow: 0 0 0 4px var(--color-main-bg);
  border-radius: 4px;
  width: 5px;
  content: " ";
}

main#article nav#index .compositional-distributed-systems-cta {
  margin-top: 3rem;
  text-align: right;
  color: var(--color-doc-subtle-fg);
  font-size: var(--font-size-small);
  width: 15rem;
  align-self: flex-end;
}

main#article nav#index .compositional-distributed-systems-cta .button {
  margin-top: 1rem;
}

main#article footer.article-pagination {
  border-bottom: 1px solid var(--color-doc-content-border);
  margin-top: 3rem;
  padding-bottom: 1rem;
  display: flex;
  flex-direction: row;
  flex: 1;
  gap: 1rem;
  height: min-content;
}

main#article footer.article-pagination a {
  font-weight: 600;
  display: flex;
  flex-direction: column;
  align-self: stretch;
  gap: 0.25rem;
  font-size: var(--font-size-medium);
  color: var(--color-doc-fg);
  flex-grow: 1;
  flex: 1;
  height: 100%;
  border-radius: var(--border-radius-base);
  background: var(--color-doc-aside-bg);
  padding: 0.75rem;
  max-width: 50%;
}

main#article footer.article-pagination .article-title {
  max-width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: inline;
}

main#article footer.article-pagination a.prev {
  align-items: flex-end;
  text-align: right;
}
main#article footer.article-pagination a.next {
  align-self: flex-end;
  margin-left: auto;
}
main#article footer.article-pagination a .direction {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--color-doc-subtle-fg);
  text-transform: uppercase;
  font-weight: normal;
  font-size: var(--font-size-small);
  height: 1.5rem;
  gap: 0.5rem;
}
main#article footer.article-pagination a .direction .icon {
  color: var(--color-doc-subtle-fg);
  font-size: var(--font-size-medium);
  margin-bottom: 3px;
}

main#article footer.article-pagination a:hover {
  text-decoration: none;
  background: var(--color-doc-aside-bg);
  color: var(--color-pink-1);
}

main#article .unison-at-work-cta {
  background: var(--color-blue-5);
  color: var(--color-gray-darken-20);
  padding: 1rem;
  border-radius: var(--border-radius-base);
  font-size: 1rem;
  margin: 2rem 6rem;
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex: 1;
}

main#article .unison-at-work-cta p {
  width: 70%;
}

main#article .unison-at-work-cta .button {
  margin-left: auto;
}

@media only screen and (max-width: 1440px) {
  main#article nav#index {
    position: static;
    transform: none;
    border: none;
    padding: 2rem 0;
    margin-bottom: 2rem;
    width: auto;
    border-top: 1px solid var(--color-doc-content-border);
    border-bottom: 1px solid var(--color-doc-content-border);
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
  }

  main#article nav#index .links,
  main#article nav#index .compositional-distributed-systems-cta {
    align-self: stretch;
  }

  main#article nav#index .links a[aria-current]:before {
    position: absolute;
    content: " ";
    left: -1.25rem;
    width: 0.5rem;
    height: 0.5rem;
    border-radius: 0.25rem;
    background: var(--color-pink-1);
  }

  main#article nav#index .compositional-distributed-systems-cta {
    margin-top: 0;
    margin-left: auto;
    justify-self: flex-start;
  }

  main#article nav#index .links .in-this-article {
    display: block;
  }

  main#article nav#index .links .in-this-article,
  main#article nav#index .links a {
    justify-content: flex-start;
    text-align: left;
  }

  main#article nav#index a[aria-current]:after {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  main#article .unison-at-work-cta {
    margin: 2rem auto;
  }

  main#article footer.article-pagination {
    flex-direction: column;
  }
  main#article footer.article-pagination a {
    max-width: none;
  }

  main#article footer.article-pagination a.prev {
    align-items: flex-start;
    text-align: left;
    width: 100%;
  }

  main#article footer.article-pagination a.next {
    align-self: flex-start;
    margin-left: 0;
    width: 100%;
  }
}

@media only screen and (max-width: 480px) {
  main#article #title {
    font-size: 3rem;
  }

  main#article nav#index {
    flex-direction: column;
    align-items: flex-start;
  }

  main#article nav#index .links,
  main#article nav#index .compositional-distributed-systems-cta {
    height: auto;
  }

  main#article nav#index .compositional-distributed-systems-cta {
    justify-content: flex-start;
    align-self: flex-start;
    text-align: left;
    margin: 0;
    margin-top: 4rem;
  }

  main#article .unison-at-work-cta {
    margin: 2rem 0;
    flex-direction: column;
    text-align: center;
  }
  main#article .unison-at-work-cta p {
    width: auto;
  }
  main#article .unison-at-work-cta .button {
    margin-left: 0;
    margin-top: 1rem;
  }
}
