#blog-index {
  --main-content-width: 64rem;
}

#blog-index video {
  width: 100%;
}

#blog-index .post-summaries {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#blog-index .post-summaries .card {
  width: 50%;
  transition: all 0.2s;
}

#blog-index .post-summaries .card:hover {
  background: var(--color-gray-lighten-50);
  text-decoration: none;
}

#blog-index .post-summaries .card img {
  margin-bottom: 1rem;
}

#blog-index .post-summaries .card .categories {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  font-size: var(--font-size-small);
  color: var(--color-main-subtle-fg-em);
  text-transform: capitalize;
  margin-bottom: 0.5rem;
}

#blog-index .categories .category:after {
  content: ", ";
}

#blog-index .categories .category:last-child:after {
  content: "";
}

#blog-index .post-summaries .card h2 {
  font-size: 1.3rem;
  line-height: 1.3;
}

#blog-index .post-summaries .card p {
  font-size: var(--font-size-medium);
}

#blog-index .post-summaries .card footer {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: var(--font-size-small);
  color: var(--color-main-subtle-fg-em);
}

#blog-index .post-summaries .card footer .authors {
  padding-right: 0.5rem;
  border-right: 1px solid var(--color-main-border);
  color: var(--color-main-fg);
  display: flex;
  gap: 0.25rem;
}

#blog-index .post-summaries .authors .author:after {
  content: ", ";
}
#blog-index .post-summaries .authors .author:last-child:after {
  content: "";
}

#blog-index .post-summaries .card:first-child {
  width: 100%;
}
#blog-index .post-summaries .card:first-child h2 {
  font-size: 1.75rem;
  font-weight: 900;
  color: var(--color-pink-1);
}

#blog-index .post-summaries .card:first-child p {
  font-size: var(--font-size-base);
}

@media only screen and (max-width: 1264px) {
  #blog-index {
    --main-footer-height: 6rem;
    --main-content-width: 100vw;
  }

  #blog-index #main-content {
    padding: 0 1.5rem;
  }
}

@media only screen and (max-width: 768px) {
  #blog-index .post-summaries .card {
    width: 100%;
  }
}
