#blog-post {
  --main-content-width: min(100vw, 64rem);
}

#blog-post #main-content video {
  width: 100%;
}

#blog-post #main-content img {
  max-width: 100%;
  max-height: 33.375rem;
}

#blog-post #main-content iframe {
  margin: auto;
  display: flex;
}

/* header */

#blog-post header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#blog-post h1#title {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 900;
  color: var(--color-gray-base);
  margin: 1rem 0 1.25rem 0;
}

#blog-post .categories-and-date {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
  font-size: var(--font-size-small);
  color: var(--color-main-subtle-fg-em);
}

#blog-post .categories {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
  text-transform: capitalize;
  padding-right: 0.5rem;
  border-right: 1px solid var(--color-main-border);
}

#blog-post .categories .category:after {
  content: ", ";
}
#blog-post .categories .category:last-child:after {
  content: "";
}

#blog-post .authors {
  display: flex;
  flex-direction: row;
  font-size: var(--font-size-medium);
  gap: 0.25rem;
}

#blog-post .authors .author:after {
  content: ", ";
}
#blog-post .authors .author:last-child:after {
  content: "";
}

#blog-post #main-content img.featured-image {
  display: flex;
  margin: 2rem auto;
}

/* content */

#blog-post .post-header,
#blog-post .unison-doc {
  width: min(100%, 50rem);
  margin: auto;
}
