#blog {
  --main-content-width: 64rem;
}

#blog #main-content video {
  width: 100%;
}

#blog #main-content img {
  max-width: 100%;
}

/* header */

#blog header {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#blog h1#title {
  font-size: 3rem;
  line-height: 1.1;
  font-weight: 900;
  color: var(--color-pink-1);
}

#blog .authors {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

#blog #main-content img.featured-image {
  margin: 2rem 0;
}

/* content */

#blog .post-header,
#blog .unison-doc {
  width: 50rem;
  margin: auto;
}
