main#doc {
  --main-sidebar-width: 22rem;
  --color-main-sidebar-bg: var(--color-gray-lighten-60);
  margin: auto;
}

main#doc #main-header nav {
  width: 100%;
  padding: 0 4rem;
}

main#doc #main-content {
  position: relative;
  overflow: visible;
}

main#doc #title {
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
  margin: 0rem 0 2rem 0;
  line-height: 1.1;
  font-family: "Palanquin Dark", sans-serif;
  font-weight: 900;
  letter-spacing: -1p3;
  color: var(--color-pink-2);
}

main#doc #main-sidebar {
  position: absolute;
  top: 6rem;
  left: 2rem;
  height: auto;
  background: var(--color-main-sidebar-bg);
  border-radius: var(--border-radius-base);
  width: var(--main-sidebar-width);
}

main#doc #main-sidebar .unison-doc {
  color: var(--color-gray-lighten-20);
  font-size: var(--font-size-base);
}

main#doc #main-sidebar section {
  margin-top: 0;
}

main#doc #main-sidebar h1 {
  cursor: pointer;
  font-size: 1.125rem;
  font-weight: 600;
  display: flex;
  color: var(--color-gray-base);
  transition: all 0.2s;
}

main#doc #main-sidebar h1 .icon {
  font-size: 1.125rem;
  color: var(--color-gray-lighten-20);
}

main#doc #main-sidebar .is-expanded h1 {
  color: var(--color-gray-darken-20);
}

main#doc #main-sidebar .is-expanded h1 .icon {
  color: var(--color-gray-darken-20);
}

main#doc #main-sidebar .is-expanded h1 .icon {
  transform: rotate(90deg);
}

main#doc #main-sidebar h1:hover {
  color: var(--color-pink-1);
}

main#doc #main-sidebar h1:hover .icon {
  color: var(--color-pink-2);
}

main#doc #main-sidebar ul {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 1rem;
}

main#doc #main-sidebar ul li {
  margin-bottom: 0.25rem;
}

main#doc #main-sidebar a {
  color: var(--color-main-sidebar-fg);
}

main#doc #main-sidebar a:hover {
  color: var(--color-pink-1);
}

main#doc #main-sidebar a[aria-current] {
  color: var(--color-gray-darken-30);
  font-weight: bold;
}

main#doc #main-sidebar a[aria-current]:before {
  position: absolute;
  left: -1.5rem;
  content: " ";
  width: 0.25rem;
  height: 1.5rem;
  background: var(--color-pink-1);
  border-radius: var(--border-radius-base);
}

main#doc #main-sidebar ul {
  display: none;
}

main#doc #main-sidebar .is-expanded ul {
  display: block;
}

main#doc #main-sidebar section > ul > li {
  margin-left: 1rem;
}
main#doc #main-sidebar ul.column {
  margin-left: 1rem;
}
main#doc #main-sidebar ul.column ul {
  margin-left: 1rem;
}

main#doc #main-sidebar .welcome {
  margin-bottom: 2rem;
}

main#doc #main-sidebar .welcome ul {
  display: block;
}

main#doc #main-sidebar .welcome ul li {
  margin-left: 0;
}

main#doc .where-to-next {
  border-top: 1px solid var(--color-main-divider);
  margin-top: 2.5rem;
}
main#doc .where-to-next h2 {
  margin-bottom: 1rem;
}
