main#docs {
  --main-content-width: 50rem;
  margin: auto;
}

main#docs #toggle-index {
  position: absolute;
  width: 2rem;
  height: 2rem;
  background: var(--color-gray-lighten-50);
  border-radius: var(--border-radius-base);
  display: none;
  align-items: center;
  justify-content: center;
}

main#docs #toggle-index .icon {
  width: 1.5rem;
  height: 1.5rem;
}

main#docs #toggle-index .icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

main#docs #title {
  letter-spacing: 0.1rem;
  font-size: 2.2rem;
  margin: 0rem 0 2rem 0;
  line-height: 1.1;
  font-weight: 900;
  letter-spacing: -1px;
  color: var(--color-gray-darken-10);
}

main#docs #index {
  position: absolute;
  left: 0;
  width: 18.5rem;
  background: var(--color-gray-lighten-60);
  transform: translateX(-100%);
  font-size: var(--font-size-medium);
  display: flex;
  flex-direction: column;
  padding: 0.5rem 1rem 0 1rem;
  border-radius: var(--border-radius-base);
}

main#docs #index #search-button {
  margin-top: 0.5rem;
  margin-bottom: 1rem;
  text-align: left;
  justify-content: flex-start;
  width: max-content;
  border: 1px solid var(--color-gray-lighten-45);
}

main#docs #index #search-button:hover {
  border: 1px solid var(--color-gray-lighten-30);
}

main#docs #index .unison-doc {
  color: var(--color-gray-lighten-20);
  font-size: var(--font-size-medium);
  background: var(--color-gray-lighten-60);
}

main#docs #index section {
  margin-top: 0;
}

main#docs #index h1 {
  cursor: pointer;
  font-size: 1rem;
  font-weight: 600;
  display: flex;
  color: var(--color-gray-base);
  transition: all 0.2s;
}

main#docs #index h1 .icon {
  font-size: 1.125rem;
  color: var(--color-gray-lighten-20);
}

main#docs #index .is-expanded h1 {
  color: var(--color-gray-darken-20);
}

main#docs #index .is-expanded h1 .icon {
  color: var(--color-gray-darken-20);
}

main#docs #index .is-expanded h1 .icon {
  transform: rotate(90deg);
}

main#docs #index h1:hover {
  color: var(--color-pink-1);
}

main#docs #index h1:hover .icon {
  color: var(--color-pink-2);
}

main#docs #index ul {
  list-style-type: none;
  margin-left: 0;
  margin-bottom: 1rem;
}

main#docs #index ul li {
  margin-bottom: 0.25rem;
}

main#docs #index a {
  color: var(--color-main-fg);
}

main#docs #index a:hover {
  color: var(--color-pink-1);
}

main#docs #index a[aria-current] {
  color: var(--color-gray-darken-30);
  font-weight: bold;
}

main#docs #index a[aria-current]:before {
  position: absolute;
  left: -1rem;
  content: " ";
  width: 0.25rem;
  height: 1.5rem;
  background: var(--color-pink-1);
  border-radius: var(--border-radius-base);
}

main#docs #index ul {
  display: none;
}

main#docs #index .is-expanded ul {
  display: block;
}

main#docs #index .is-expanded > ul > li {
  margin-left: 0.5rem;
}

main#docs #index section > ul > li {
  margin-left: 1rem;
}
main#docs #index ul.column ul {
  margin-left: 1rem;
}

main#docs #index .welcome {
  margin-bottom: 2rem;
}

main#docs #index .welcome h1 {
  display: none;
}

main#docs #index .welcome ul {
  display: block;
}

main#docs #index .welcome ul li {
  margin-left: 0;
}

main#docs .where-to-next {
  border-top: 1px solid var(--color-main-divider);
  margin-top: 2.5rem;
}
main#docs .where-to-next h2 {
  margin-bottom: 1rem;
}

/* -- Autocomplete Search -------------------------------------------------- */

#autocomplete {
  --autocomplete-width: 40rem;
}

#autocomplete-search {
  z-index: var(--layer-modal-above);
  position: absolute;
  top: 0rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-gray-lighten-100);
  display: none;
  width: var(--autocomplete-width);
  box-shadow: 0 0.375rem 1rem var(--color-modal-shadow),
    0 0 0 1px var(--color-modal-border);
  margin-top: -1.85rem;
  margin-left: -1px;
  border-radius: var(--border-radius-base);
}

#autocomplete.show-search #autocomplete-search {
  display: flex;
  flex-direction: column;
}

#autocomplete.show-search #autocomplete-search li {
  width: var(--autocomplete-width);
  list-style-type: none;
}

#autocomplete.show-search #autocomplete-search .aa-Form {
  display: flex;
  flex-direction: row;
  background: var(--color-gray-lighten-60);
  border-radius: var(--border-radius-base);
  height: 3rem;
  align-items: center;
}

#autocomplete.show-search #autocomplete-search .aa-InputWrapperPrefix {
  position: absolute;
}

#autocomplete.show-search #autocomplete-search .icon-search {
  font-size: 1.5rem;
  line-height: 3rem;
  margin-left: 1rem;
  margin-right: 0.75rem;
  margin-top: -3px;
  color: var(--color-modal-subtle-fg);
}

#autocomplete.show-search #autocomplete-search .aa-InputWrapper {
  height: 3rem;
}

#autocomplete.show-search #autocomplete-search input {
  background: var(--color-gray-lighten-60);
  width: calc(var(--autocomplete-width) - 2px);
  height: 3rem;
  border-radius: var(--border-radius-base);
  padding-right: 0.75rem;
  padding-left: 3.25rem;
  line-height: 3rem;
  font-size: var(--font-size-base);
  font-weight: bold;
  appearance: none !important;
}
#autocomplete.show-search #autocomplete-search input::placeholder {
  font-weight: normal;
}
#autocomplete.show-search #autocomplete-search input:focus {
  outline: none;
}

#autocomplete.show-search
  #autocomplete-search
  input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  position: relative;
  height: 0.875rem;
  width: 0.875rem;
  right: 0;
  background: url(/assets/icon-x.svg);
  opacity: 0.4;
}

#autocomplete.show-search #autocomplete-search mark {
  background: none;
  color: var(--color-blue-2);
}

#autocomplete.show-search #autocomplete-panel .aa-Panel {
  border-top: 1px solid var(--color-modal-inner-border);
}

#autocomplete.show-search #autocomplete-search .match {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0.375rem 0.75rem;
  margin: 0.75rem;
  border-radius: var(--border-radius-base);
}

#autocomplete.show-search #autocomplete-search [aria-selected="true"] .match {
  background: var(--color-gray-lighten-55);
}
#autocomplete.show-search #autocomplete-search .match:hover {
  text-decoration: none;
  background: var(--color-gray-lighten-55);
}

#autocomplete.show-search #autocomplete-search .match .match-title {
  font-size: var(--font-size-medium);
  font-weight: bold;
  color: var(--color-gray-darken-20);
  line-height: 1.5rem;
}
#autocomplete.show-search #autocomplete-search .match .match-content {
  font-size: var(--font-size-small);
  color: var(--color-gray-darken-20);
  line-height: 1.5rem;
}

/* removing some default algolia ui */
#autocomplete-search .aa-SubmitButton,
#autocomplete-search .aa-ClearButton {
  display: none;
}

@media only screen and (max-width: 1439px) {
  main#docs #main-content {
    position: static;
  }

  main#docs #toggle-index {
    display: flex;
    left: 2rem;
    top: calc(var(--main-header-height) + var(--main-content-top-margin));
    margin-top: 0.35rem;
  }

  main#docs #index {
    position: absolute;
    top: calc(var(--main-header-height) + var(--main-content-top-margin));
    margin-top: 0.35rem;
    left: 4.5rem;
    bottom: 2rem;
    transform: none;
    background: var(--color-gray-lighten-50);
    z-index: 1;
    overflow-y: auto;
    overflow-x: hidden;
    display: none;
  }

  main#docs.show-index #index {
    display: block;
  }

  main#docs #index .unison-doc {
    background: var(--color-gray-lighten-50);
  }

  #autocomplete-search {
    top: 3rem;
    max-height: calc(100vh - 2rem);
    overflow-y: auto;
  }
}

@media only screen and (max-width: 1264px) {
  main#docs #toggle-index {
    left: 1rem;
  }

  main#docs #index {
    left: 3.5rem;
  }
}

@media only screen and (max-width: 1110px) {
  main#docs #toggle-index {
    left: 2rem;
    top: 0.25rem;
  }

  main#docs #index {
    left: 2rem;
    top: 3rem;
  }
}

@media only screen and (max-width: 960px) {
  main#docs {
    --main-content-width: 100vw;
  }

  #autocomplete {
    --autocomplete-width: 100vw - 6rem;
  }

  main#docs #toggle-index {
    left: 1rem;
    top: 0.75rem;
  }

  main#docs #index {
    left: 1rem;
    top: 3.5rem;
    bottom: 1rem;
  }
}

@media only screen and (max-width: 600px) {
  main#docs #index {
    width: calc(100vw - 2rem);
  }
}
