#home {
  --main-content-width: auto;
  --hero-width: 64rem;
  --examples-width: 64rem;
  --flow-width: 64rem;
}

#home #main-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.unison-one-oh-announcement {
  position: relative;
  border-radius: 1rem;
  overflow: clip;
  padding: 1.75rem;
  background: linear-gradient(
    -45deg,
    var(--color-orange-4),
    var(--color-purple-5)
  );
  color: var(--color-gray-darken-30);
  font-size: 1rem;
  width: max-content;
  max-width: var(--hero-width);
  margin-bottom: 2rem;
  text-align: center;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.75);
  will-change: transform;
  transition: all 0.3s;
  box-shadow: inset 0 0 0 1px var(--color-purple-5),
    inset 0 0 0 0.25rem rgba(255, 255, 255, 0.5);
  text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.25),
    1px -1px 0 rgba(255, 255, 255, 0.25), -1px 1px 0 rgba(255, 255, 255, 0.25),
    1px 1px 0 rgba(255, 255, 255, 0.25);

  h2 {
    color: var(--color-gray-darken-30);
    font-size: 1.5rem;
    font-weight: 900;
    text-shadow: -1px -1px 0 rgba(255, 255, 255, 0.25),
      1px -1px 0 rgba(255, 255, 255, 0.25), -1px 1px 0 rgba(255, 255, 255, 0.25),
      1px 1px 0 rgba(255, 255, 255, 0.25);
  }
}

.unison-one-oh-announcement:hover {
  text-decoration: none;
  transform: scale3d(1.05, 1.05, 1.05);
}

.unison-one-oh-announcement::before {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  z-index: 1;
  content: "";
  background: url(/assets/unison-one-oh/confetti.svg);
  background-size: cover;
  opacity: 0.25;
}

/* -- Hero ----------------------------------------------------------------- */

#home #hero {
  background: var(--color-green-3);
  color: var(--color-gray-darken-10);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: background 0.4s;
  width: var(--hero-width);
}

#home #hero h1 {
  margin-top: 6rem;
  font-size: 3.5rem;
  font-weight: 900;
}

#home #hero hr {
  width: 6rem;
  height: 0.25rem;
  border-radius: 0.125rem;
  background: var(--color-gray-base);
  opacity: 0.25;
}

#home #hero h2 {
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 1.5;
  font-size: 3.5rem;
  font-weight: 900;
}

/* -- Hero/Carousel -------------------------------------------------------- */

#home #hero.slide-1 {
  background: var(--color-green-3);
}
#home #hero.slide-1 .slide-content h2 {
  color: var(--color-purple-3);
}

#home #hero.slide-2 {
  background: var(--color-orange-3);
}
#home #hero.slide-2 .slide-content h2 {
  color: var(--color-purple-3);
}

#home #hero.slide-3 {
  background: var(--color-pink-3);
}
#home #hero.slide-3 .slide-content h2 {
  color: var(--color-gray-lighten-100);
}

#home #hero.slide-4 {
  background: var(--color-blue-3);
}
#home #hero.slide-4 .slide-content h2 {
  color: var(--color-gray-lighten-100);
}

#home #hero.slide-5 {
  background: var(--color-purple-4);
}
#home #hero.slide-5 .slide-content h2 {
  color: var(--color-gray-lighten-100);
}

#home #hero .carousel {
  font-size: 1.5rem;
  overflow: hidden;
  width: var(--hero-width);
}

#home #hero .carousel p {
  margin-top: 2rem;
  margin-bottom: 3.5rem;
  align-self: center;
  padding: 0 9rem;
}

#home #hero .carousel .button {
  margin-bottom: 4rem;
}

#home #hero .carousel .slides {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: transform 0.8s cubic-bezier(0.68, -0.4, 0.32, 1);
}

#home #hero .carousel .slide-content {
  width: 100%;
  flex-shrink: 0;
}

#home #hero .carousel .slide-indicators {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.375rem;
  gap: 0.25rem;
}

#home #hero .carousel .slide-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.25;
  transition: all 0.2s;
  cursor: pointer;
}

#home #hero .carousel .slide-indicator:hover {
  opacity: 1;
}

#home #hero .carousel .slide-indicator .dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  background: var(--color-gray-base);
}

#home #hero.slide-1 .carousel .slide-1-indicator {
  opacity: 0.75;
}

#home #hero.slide-2 .carousel .slide-2-indicator {
  opacity: 0.75;
}
#home #hero.slide-3 .carousel .slide-3-indicator {
  opacity: 0.75;
}
#home #hero.slide-4 .carousel .slide-4-indicator {
  opacity: 0.75;
}
#home #hero.slide-5 .carousel .slide-5-indicator {
  opacity: 0.75;
}

#home #install-instructions {
  display: flex;
  flex-direction: column;
  gap: 2.625rem;
  padding: 3.25rem 14rem;
  font-size: 1.125rem;
  align-items: center;
  text-align: center;
  margin-top: 1.5rem;
  transition: background 0.4s;
  width: var(--hero-width);
  background: var(--color-blue-5);
  position: relative;
  border-radius: 0.75rem;
}

#home #install-instructions .ucm-desktop {
  border-radius: 0.75rem;
  position: absolute;
  height: 12rem;
  background: linear-gradient(
    to bottom,
    var(--color-blue-5),
    var(--color-blue-5),
    var(--color-purple-5)
  );
  bottom: 0;
  right: 0;
  left: 0;
  overflow: hidden;
}

#home #install-instructions .ucm-desktop .callout {
  position: relative;
  margin-bottom: 1rem;
  font-size: 1rem;
  z-index: 3;
}

#home #install-instructions .ucm-desktop .callout a {
  text-decoration: underline;
  font-weight: bold;
}

#home #install-instructions .ucm-desktop .screenshot {
  overflow: hidden;
  margin: 0 auto;
  height: 12rem;
}

#home #install-instructions .ucm-desktop .download-ucm-desktop {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 3rem;
  text-align: center;
  z-index: 2;
}

#home #install-instructions .ucm-desktop .screenshot:after {
  position: absolute;
  height: 16rem;
  bottom: 0;
  right: 0;
  left: 0;
  background: linear-gradient(
    to bottom,
    transparent,
    transparent,
    var(--color-blue-4)
  );
  z-index: 1;
  content: " ";
}

#home #install-instructions .install {
  position: relative;
  text-align: center;
  width: 32rem;
  height: 16rem;
}

#home #install-instructions .install.install-mac,
#home #install-instructions .install.install-linux {
  display: none;
}

#home #install-instructions .install.install-mac .apple-silicon {
  font-size: 0.875rem;
  margin-top: 1rem;
  opacity: 0.75;
}

#home #install-instructions .install.install-mac .apple-silicon abbr {
  cursor: help;
}
#home #install-instructions .install.install-mac .apple-silicon a {
  text-decoration: underline;
}

#home #install-instructions .install .prompt {
  height: 2.5rem;
  position: absolute;
  top: 0;
  left: 0.875rem;
  font-size: 1rem;
  font-weight: 900;
  font-family: var(--font-monospace);
  display: flex;
  align-items: center;
}

#home #install-instructions .install input {
  height: 2.5rem;
  padding: 0 2.75rem 0 2rem;
  background: var(--color-transparent);
  color: var(--color-gray-darken-10);
  border: 1px solid rgba(81, 82, 88, 0.5);
  font-size: 1rem;
  font-weight: 900;
  font-family: var(--font-monospace);
  border-radius: var(--border-radius-base);
  position: relative;
}

#home #install-instructions .install.install-mac input {
  width: 32rem;
}

#home #install-instructions .install.install-linux input {
  width: 40rem;
}

#home #install-instructions .install .copy-installation-command {
  position: absolute;
  top: 0;
  right: 0;
  height: 2.5rem;
  padding: 0 0.375rem;
  border-left: 1px solid rgba(81, 82, 88, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

#home #install-instructions .install .copy-installation-command:hover {
  background: rgba(81, 82, 88, 0.1);
}

#home #install-instructions .install .copy-installation-command:hover .icon {
  color: var(--color-gray-darken-30);
}

#home #install-instructions .install .copy-installation-command .icon {
  color: var(--color-gray-darken-10);
  width: 1.5rem;
  height: 1.5rem;
}
#home #install-instructions .install .copy-installation-command .icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

.modal-dialog {
  width: 32rem;
}

/* -- Unison Examples ------------------------------------------------------ */

#home .unison-examples {
  margin-top: 10rem;
  width: var(--examples-width);
}

#home .unison-examples header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  font-size: 1rem;
  color: var(--color-gray-base);
  text-align: center;
  padding: 0 1rem;
}

#home .unison-examples header h1 {
  font-size: 2.5rem;
  text-align: center;
  display: inline-flex;
  background: var(--color-gray-lighten-100);
  color: var(--color-gray-darken-10);
  position: relative;
  padding: 0 1.5rem;
  z-index: 1;
  font-weight: 900;
  margin-bottom: 1rem;
}

#home .unison-examples .examples .unison-doc > section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

#home .unison-examples .examples .hello-world,
#home .unison-examples .examples .distributed-map-reduce,
#home .unison-examples .examples .http-request {
  background: var(--color-gray-lighten-60);
  color: var(--color-gray-darken-25);
  border-radius: 0.75rem;
  padding: 2rem;
}

#home .unison-examples .examples .hello-world h1,
#home .unison-examples .examples .distributed-map-reduce h1,
#home .unison-examples .examples .http-request h1 {
  color: var(--color-gray-base);
  font-size: 1.75rem;
  font-weight: 900;
}

#home .unison-examples .examples .hello-world,
#home .unison-examples .examples .distributed-map-reduce {
  display: flex;
  width: calc(50% - 0.75rem);
}

#home .unison-examples .examples .hello-world .folded.source,
#home .unison-examples .examples .distributed-map-reduce .folded.source {
  margin-bottom: 2rem;
}

#home .unison-examples .examples .hello-world p,
#home .unison-examples .examples .distributed-map-reduce p {
  margin-bottom: 2rem;
}
#home .unison-examples .examples .hello-world p:last-child,
#home .unison-examples .examples .hello-world p:last-child,
#home .unison-examples .examples .distributed-map-reduce p:last-child {
  margin-bottom: 0;
}

#home .unison-examples .hello-world {
  font-size: 1rem;
}

#home .unison-examples .hello-world .folded.source,
#home .unison-examples .distributed-map-reduce .folded.source,
#home .unison-examples .http-request .folded.source {
  font-size: 1rem;
}

#home .unison-examples .hello-world .delayed-computation {
  display: inline-flex;
  font-weight: bold;
  color: var(--color-pink-1);
}

#home .unison-examples .examples .http-request {
  display: flex;
  width: 100%;
}
#home .unison-examples .examples .http-request section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#home .unison-examples .examples .http-request .folded.source {
  margin-bottom: 0;
}

#home .unison-examples p {
  font-size: 1rem;
}

#home .unison-examples p * {
  white-space: normal;
}

#home .unison-examples .folded.source {
  padding: 1.125rem;
  background: var(--color-gray-lighten-100);
  border: 1px solid var(--color-gray-lighten-50);
}

#home .unison-examples .folded-sources {
  width: auto;
  flex-shrink: 0;
  margin: 0 -0.5rem;
}

#home .unison-examples .fold-toggle {
  display: none;
}

/* -- Unison Dev Flow ------------------------------------------------------ */

#home .unison-dev-flow {
  display: flex;
  flex-direction: column;
  width: var(--flow-width);
  margin: 4rem 0;
}

#home .unison-dev-flow > header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4rem;
  gap: 1rem;
  font-size: 1rem;
  color: var(--color-gray-base);
  text-align: center;
  padding: 0 1rem;
}

#home .unison-dev-flow > header h1 {
  font-size: 2.5rem;
  text-align: center;
  display: inline-flex;
  background: var(--color-gray-lighten-100);
  color: var(--color-gray-darken-10);
  position: relative;
  padding: 0 1.5rem;
  z-index: 1;
  font-weight: 900;
}

#home .unison-dev-flow .unison-dev-flow_editor-and-ucm {
  display: flex;
  flex-direction: row;
  gap: 1.5rem;
  position: relative;
}

#home .unison-dev-flow .unison-dev-flow_window {
  width: 50%;
  border: 1px solid var(--color-gray-lighten-45);
  border-radius: var(--border-radius-base);
  height: 35.5rem;
  opacity: 0.5;
  background: var(--color-gray-lighten-60);
  transition: all 0.2s;
  overflow: clip;
}

#home .unison-dev-flow .media-controls {
  position: absolute;
  z-index: 1000;
  left: 1rem;
  bottom: 1rem;
  place-items: center;
  display: flex;
  flex-direction: column;
}

#home .unison-dev-flow .media-button {
  height: 3.25rem;
  border-radius: 2rem;
  background: var(--color-gray-darken-20);
  border: 0;
  line-height: 1;
  place-items: center;
  display: flex;
  transition: all 0.2s;
  cursor: pointer;
  border: 0.25rem solid var(--color-gray-lighten-100);
  color: var(--color-gray-lighten-100);
  padding: 0 1.25rem 0 0.35rem;
  font-weight: bold;
}

#home .unison-dev-flow .media-button .icon {
  font-size: 2.5rem;
  color: var(--color-gray-lighten-100);
  line-height: 1;
}

#home .unison-dev-flow .media-button:hover {
  background: var(--color-blue-2);
}

#home .unison-dev-flow .media-button .icon .media-outline {
  opacity: 0;
}

#home .unison-dev-flow[data-play-state="idle"] .media-button.button-stop,
#home .unison-dev-flow[data-play-state="idle"] .media-button.button-restart {
  display: none;
}

#home .unison-dev-flow[data-play-state="playing"] .media-button.button-play,
#home .unison-dev-flow[data-play-state="playing"] .media-button.button-restart {
  display: none;
}

#home .unison-dev-flow[data-play-state="stopped"] .media-button.button-play,
#home .unison-dev-flow[data-play-state="stopped"] .media-button.button-stop {
  display: none;
}

#home .unison-dev-flow .unison-dev-flow_window.unison-dev-flow_window-focus {
  box-shadow: 0 0 0 4px var(--color-blue-5);
  border: 1px solid var(--color-blue-1);
  opacity: 1;
  background: var(--color-gray-lighten-100);
}

#home .unison-dev-flow .unison-dev-flow_window-header {
  padding: 0.75rem 1rem;
  line-height: 1;
  font-size: var(--font-size-small);
  border-bottom: 1px solid var(--color-gray-lighten-45);
  color: var(--color-gray-lighten-20);
  background: var(--color-gray-lighten-60);
}

#home .unison-dev-flow .unison-dev-flow_window-body {
  padding: 1rem;
  font-family: var(--font-monospace);
  font-weight: 300;
}

#home .unison-dev-flow .unison-dev-flow_ucm .ucm-file {
  color: var(--color-blue-1);
}

#home .unison-dev-flow .unison-dev-flow_ucm .ucm-delayed {
  font-weight: bold;
  color: var(--color-pink-1);
}

#home .unison-dev-flow .unison-dev-flow_ucm .ucm-emphasized {
  font-weight: bold;
}

#home .unison-dev-flow .unison-dev-flow_ucm .ucm-subdued {
  color: var(--color-gray-lighten-30);
}

#home .unison-dev-flow .unison-dev-flow_ucm .ucm-add {
  color: var(--color-green-1);
}

#home .at-a-glance-banner {
  background: var(--color-orange-5);
  padding: 1rem 1.5rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.75rem;
}

#home .at-a-glance-banner p {
  font-size: 1rem;
}

#home .at-a-glance-banner .button {
  white-space: nowrap;
  margin-left: 1rem;
  font-size: 1rem;
}

/* -- Responsive ----------------------------------------------------------- */

/* smaller laptop */
@media only screen and (max-width: 1264px) {
  #home #main-content {
    margin-left: auto;
  }

  #home {
    --hero-width: 60rem;
    --examples-width: 64rem;
    --flow-width: 64rem;
  }
}

/* tablet */
@media only screen and (max-width: 1110px) {
  #home {
    --main-content-width: 60rem;
    --hero-width: 60rem;
    --examples-width: 60rem;
    --flow-width: 60rem;
  }

  #home #hero .carousel p {
    padding: 0 7.25rem;
  }
}

/* phone */
@media only screen and (max-width: 960px) {
  #home {
    --main-content-width: 100vw;
    --hero-width: 100vw;
    --examples-width: 100vw;
    --flow-width: 100vw;
  }

  #home .unison-one-oh-announcement {
    width: var(--hero-width);
    border-radius: 0;
  }

  #home #hero,
  #home #install-instructions {
    border-radius: 0;
  }

  #home #install-instructions {
    margin-top: 1px;
    padding: 1rem;
  }

  #home #install-instructions .ucm-desktop {
    display: none;
  }

  #home #install-instructions .install {
    height: auto;
  }

  #home #hero h1 {
    margin-top: 3.25rem;
  }

  #home #hero h1,
  #home #hero h2 {
    font-size: 2.625rem;
    line-height: 1.3;
  }

  #home #hero .approach-to {
    white-space: nowrap;
  }

  #home #hero .carousel {
    margin-top: 1rem;
  }

  #home #hero .carousel p {
    padding: 0 1.25rem;
    font-size: 1.125rem;
  }

  #home #hero .sub-text {
    padding: 2rem 1.25rem 3.25rem 1.25rem;
    font-size: 1.125rem;
  }
  #home #hero .install {
    width: auto;
  }

  #home .unison-examples {
    margin-top: 6rem;
  }

  #home .unison-examples header {
    margin-bottom: 2rem;
  }

  #home .unison-examples header h1 {
    font-size: 2rem;
  }

  #home .unison-examples .examples {
    margin: 0 2rem;
  }

  #home .unison-examples .unison-doc {
    width: 100%;
  }

  #home .unison-examples .examples .hello-world,
  #home .unison-examples .examples .distributed-map-reduce,
  #home .unison-examples .examples .http-request {
    padding: 1rem;
  }

  #home .unison-examples .examples .hello-world h1,
  #home .unison-examples .examples .distributed-map-reduce h1,
  #home .unison-examples .examples .http-request h1 {
    font-size: 1.5rem;
  }

  #home .unison-examples .examples .hello-world,
  #home .unison-examples .examples p {
    font-size: 0.875rem;
  }

  #home .unison-examples .examples .hello-world p,
  #home .unison-examples .examples .distributed-map-reduce p,
  #home .unison-examples .examples .http-request p {
    margin-bottom: 1rem;
  }

  #home .unison-examples .hello-world .folded.source,
  #home .unison-examples .distributed-map-reduce .folded.source,
  #home .unison-examples .http-request .folded.source {
    font-size: 0.875rem;
    padding: 0.5rem;
  }

  #home .unison-examples .examples .hello-world .folded.source,
  #home .unison-examples .examples .distributed-map-reduce .folded.source {
    margin-bottom: 1rem;
  }

  #home .at-a-glance-banner p {
    font-size: 0.875rem;
  }
  #home .at-a-glance-banner .button {
    font-size: 1rem;
  }

  #home .unison-dev-flow > header {
    margin-bottom: 2rem;
  }

  #home .unison-dev-flow > header h1 {
    font-size: 1.8rem;
  }

  #home .unison-dev-flow {
    margin-bottom: 2rem;
  }

  #home .unison-dev-flow .unison-dev-flow_editor-and-ucm {
    margin: 0 2rem;
  }

  #home .unison-dev-flow .unison-dev-flow_window {
    font-size: 0.875rem;
  }
}

@media only screen and (max-width: 800px) {
  #home .unison-examples header h1 {
    font-size: 1.8rem;
  }
  #home .unison-examples .examples {
    margin: 0;
  }
  #home .unison-examples .examples .hello-world,
  #home .unison-examples .examples .distributed-map-reduce,
  #home .unison-examples .examples .http-request {
    width: 100%;
    border-radius: 0;
    padding: 2rem;
  }

  #home .unison-examples .examples .http-request section {
    flex-direction: column;
  }

  #home .unison-examples .hello-world .folded.source,
  #home .unison-examples .distributed-map-reduce .folded.source,
  #home .unison-examples .http-request .folded.source {
    width: calc(100vw - 3rem);
    overflow: auto;
  }

  #home .unison-examples .examples .http-request section {
    gap: 0;
  }

  #home .unison-examples .examples .hello-world,
  #home .unison-examples .examples p {
    font-size: 1rem;
  }

  #home .unison-examples .hello-world .folded.source,
  #home .unison-examples .distributed-map-reduce .folded.source,
  #home .unison-examples .http-request .folded.source {
    font-size: 1rem;
    padding: 1rem;
  }

  #home .at-a-glance-banner p {
    font-size: 1rem;
  }

  #home .at-a-glance-banner {
    width: var(--examples-width);
    border-radius: 0;
  }

  #home .unison-dev-flow .unison-dev-flow_editor-and-ucm {
    flex-direction: column;
    align-items: center;
    margin: 0 1rem;
  }

  #home .unison-dev-flow .unison-dev-flow_window {
    width: 100%;
    height: auto;
    font-size: 0.75rem;
  }

  #home .unison-dev-flow .media-controls {
    bottom: auto;
    left: auto;
    top: -1.25rem;
    right: 0.5rem;
  }

  #home .unison-dev-flow .media-button {
    height: 2.5rem;
    padding: 0 1rem 0 0.15rem;
  }

  #home .unison-dev-flow .media-button .icon {
    font-size: 2rem;
  }
}

@media only screen and (max-width: 390px) {
  #home .unison-examples .examples .hello-world,
  #home .unison-examples .examples p {
    font-size: 0.875rem;
  }

  #home .unison-examples .hello-world .folded.source,
  #home .unison-examples .distributed-map-reduce .folded.source,
  #home .unison-examples .http-request .folded.source {
    font-size: 0.875rem;
    padding: 0.875rem;
  }

  #home .at-a-glance-banner p {
    font-size: 0.875rem;
  }
}
