#home {
  --main-content-width: auto;
  --hero-width: 64rem;
  --examples-width: 64rem;
}

#home #main-content {
  align-items: center;
  display: flex;
  flex-direction: column;
}

/* -- Hero ----------------------------------------------------------------- */

#home #hero {
  background: var(--color-green-3);
  color: var(--color-gray-darken-10);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: background 0.4s;
  width: var(--hero-width);
}

#home #hero h1 {
  margin-top: 6rem;
  font-size: 3.5rem;
  font-weight: 900;
}

#home #hero hr {
  width: 6rem;
  height: 0.25rem;
  border-radius: 0.125rem;
  background: var(--color-gray-base);
  opacity: 0.25;
}

#home #hero h2 {
  margin-bottom: 0;
  padding-bottom: 0;
  line-height: 1.5;
  font-size: 3.5rem;
  font-weight: 900;
}

/* -- Hero/Carousel -------------------------------------------------------- */

#home #hero.slide-1 {
  background: var(--color-green-3);
}
#home #hero.slide-1 .slide-content h2 {
  color: var(--color-purple-3);
}

#home #hero.slide-2 {
  background: var(--color-orange-3);
}
#home #hero.slide-2 .slide-content h2 {
  color: var(--color-purple-3);
}

#home #hero.slide-3 {
  background: var(--color-pink-3);
}
#home #hero.slide-3 .slide-content h2 {
  color: var(--color-gray-lighten-100);
}

#home #hero.slide-4 {
  background: var(--color-blue-3);
}
#home #hero.slide-4 .slide-content h2 {
  color: var(--color-gray-lighten-100);
}

#home #hero.slide-5 {
  background: var(--color-purple-4);
}
#home #hero.slide-5 .slide-content h2 {
  color: var(--color-gray-lighten-100);
}

#home #hero .carousel {
  font-size: 1.5rem;
  overflow: hidden;
  width: var(--hero-width);
}

#home #hero .carousel p {
  margin-top: 2rem;
  margin-bottom: 3.5rem;
  align-self: center;
  padding: 0 9rem;
}

#home #hero .carousel .button {
  margin-bottom: 4rem;
}

#home #hero .carousel .slides {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  transition: transform 0.8s cubic-bezier(0.68, -0.4, 0.32, 1);
}

#home #hero .carousel .slide-content {
  width: 100%;
  flex-shrink: 0;
}

#home #hero .carousel .slide-indicators {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 2.375rem;
  gap: 0.25rem;
}

#home #hero .carousel .slide-indicator {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 1.5rem;
  height: 1.5rem;
  opacity: 0.25;
  transition: all 0.2s;
  cursor: pointer;
}

#home #hero .carousel .slide-indicator:hover {
  opacity: 1;
}

#home #hero .carousel .slide-indicator .dot {
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 0.25rem;
  background: var(--color-gray-base);
}

#home #hero.slide-1 .carousel .slide-1-indicator {
  opacity: 0.75;
}

#home #hero.slide-2 .carousel .slide-2-indicator {
  opacity: 0.75;
}
#home #hero.slide-3 .carousel .slide-3-indicator {
  opacity: 0.75;
}
#home #hero.slide-4 .carousel .slide-4-indicator {
  opacity: 0.75;
}
#home #hero.slide-5 .carousel .slide-5-indicator {
  opacity: 0.75;
}

#home #hero .sub-text {
  display: flex;
  flex-direction: column;
  gap: 2.625rem;
  padding: 3.25rem 14rem;
  font-size: 1.125rem;
  border-top: 1px solid rgba(81, 82, 88, 0.25);
  align-items: center;
}

#home #hero .install {
  position: relative;
  text-align: center;
  width: 32rem;
}

#home #hero .install.install-mac,
#home #hero .install.install-linux {
  display: none;
}

#home #hero .install .prompt {
  height: 2.5rem;
  position: absolute;
  top: 0;
  left: 0.875rem;
  font-size: 1rem;
  font-weight: 900;
  font-family: var(--font-monospace);
  display: flex;
  align-items: center;
}

#home #hero .install input {
  height: 2.5rem;
  padding: 0 2.75rem 0 2rem;
  background: var(--color-transparent);
  color: var(--color-gray-darken-10);
  border: 1px solid rgba(81, 82, 88, 0.5);
  font-size: 1rem;
  font-weight: 900;
  font-family: var(--font-monospace);
  border-radius: var(--border-radius-base);
  position: relative;
}

#home #hero .install.install-mac input {
  width: 32rem;
}

#home #hero .install.install-linux input {
  width: 40rem;
}

#home #hero .install .copy-installation-command {
  position: absolute;
  top: 0;
  right: 0;
  height: 2.5rem;
  padding: 0 0.375rem;
  border-left: 1px solid rgba(81, 82, 88, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s;
}

#home #hero .install .copy-installation-command:hover {
  background: rgba(81, 82, 88, 0.1);
}

#home #hero .install .copy-installation-command:hover .icon {
  color: var(--color-gray-darken-30);
}

#home #hero .install .copy-installation-command .icon {
  color: var(--color-gray-darken-10);
  width: 1.5rem;
  height: 1.5rem;
}
#home #hero .install .copy-installation-command .icon svg {
  width: 1.5rem;
  height: 1.5rem;
}

/* -- Unison Examples ------------------------------------------------------ */

#home .unison-examples {
  margin-top: 10rem;
  width: var(--examples-width);
}

#home .unison-examples header {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 4.5rem;
  font-size: 1.125rem;
  color: var(--color-gray-base);
}

#home .unison-examples header h1 {
  font-size: 3rem;
  text-align: center;
  display: inline-flex;
  background: var(--color-gray-lighten-100);
  color: var(--color-gray-darken-10);
  position: relative;
  padding: 0 1.5rem;
  z-index: 1;
  font-weight: 900;
  margin-bottom: 1rem;
}

#home .unison-examples .examples .unison-doc > section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 1.5rem;
  margin-bottom: 1.5rem;
}

#home .unison-examples .examples .hello-world,
#home .unison-examples .examples .distributed-map-reduce,
#home .unison-examples .examples .http-request {
  background: var(--color-gray-lighten-60);
  color: var(--color-gray-darken-25);
  border-radius: 0.75rem;
  padding: 2rem;
}

#home .unison-examples .examples .hello-world h1,
#home .unison-examples .examples .distributed-map-reduce h1,
#home .unison-examples .examples .http-request h1 {
  color: var(--color-gray-base);
  font-size: 2rem;
  font-weight: 900;
}

#home .unison-examples .examples .hello-world,
#home .unison-examples .examples .distributed-map-reduce {
  display: flex;
  width: calc(50% - 0.75rem);
}

#home .unison-examples .examples .hello-world .folded.source,
#home .unison-examples .examples .distributed-map-reduce .folded.source {
  margin-bottom: 2rem;
}

#home .unison-examples .examples .hello-world p,
#home .unison-examples .examples .distributed-map-reduce p {
  margin-bottom: 2rem;
}
#home .unison-examples .examples .hello-world p:last-child,
#home .unison-examples .examples .hello-world p:last-child,
#home .unison-examples .examples .distributed-map-reduce p:last-child {
  margin-bottom: 0;
}

#home .unison-examples .hello-world {
  font-size: 1.25rem;
}

#home .unison-examples .hello-world .folded.source {
  font-size: 1.125rem;
}

#home .unison-examples .hello-world .delayed-computation {
  display: inline-flex;
  font-weight: bold;
  color: var(--color-pink-1);
}

#home .unison-examples .examples .http-request {
  display: flex;
  width: 100%;
}
#home .unison-examples .examples .http-request section {
  display: flex;
  flex-direction: row;
  gap: 2rem;
}

#home .unison-examples .examples .http-request .folded.source {
  margin-bottom: 0;
}

#home .unison-examples p {
  font-size: 1.25rem;
}

#home .unison-examples p * {
  white-space: normal;
}

#home .unison-examples .folded.source {
  padding: 1.125rem;
  background: var(--color-gray-lighten-100);
  border: 1px solid var(--color-gray-lighten-50);
}

#home .unison-examples .folded-sources {
  width: auto;
  flex-shrink: 0;
  margin: 0 -0.5rem;
}

#home .unison-examples .fold-toggle {
  display: none;
}

#home .at-a-glance-banner {
  background: var(--color-orange-5);
  padding: 1.5rem 1.5rem 1.5rem 2rem;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 0.75rem;
}

#home .at-a-glance-banner p {
  font-size: 1.25rem;
}

#home .at-a-glance-banner .button {
  white-space: nowrap;
  margin-left: 1rem;
}

/* -- Responsive ----------------------------------------------------------- */

/* smaller laptop */
@media only screen and (max-width: 1264px) {
  #home #main-content {
    margin-left: auto;
  }

  #home {
    --hero-width: 60rem;
    --examples-width: 64rem;
  }

  #home .unison-examples .example {
    flex-direction: column;
    align-items: flex-start;
  }

  #home .unison-examples .example p {
    text-align: right;
    align-self: flex-end;
    margin-bottom: 0;
  }

  #home .unison-examples .example p:first-of-type {
    text-align: left;
    align-self: flex-start;
  }

  #home .unison-examples .example .folded-sources {
    align-self: center;
  }

  #home .unison-examples .example .folded-sources .folded {
    margin-bottom: 0;
  }
}

/* tablet */
@media only screen and (max-width: 1110px) {
  #home {
    --main-content-width: 60rem;
    --hero-width: 60rem;
    --examples-width: 60rem;
  }

  #home #hero .carousel p {
    padding: 0 7.25rem;
  }

  #home .unison-examples .examples .hello-world,
  #home .unison-examples .examples .distributed-map-reduce,
  #home .unison-examples .examples .http-request {
    width: 100%;
  }
}

/* phone */
@media only screen and (max-width: 960px) {
  #home {
    --main-content-width: 100vw;
    --hero-width: 100vw;
    --examples-width: 100vw;
  }

  #home #hero {
    border-radius: 0;
  }

  #home #hero h1 {
    margin-top: 3.25rem;
  }

  #home #hero h1,
  #home #hero h2 {
    font-size: 2.625rem;
  }

  #home #hero .approach-to {
    white-space: nowrap;
  }

  #home #hero .carousel p {
    padding: 0 1.25rem;
    font-size: 1.125rem;
  }

  #home #hero .sub-text {
    padding: 2rem 1.25rem 3.25rem 1.25rem;
    font-size: 1.125rem;
  }
  #home #hero .install {
    width: auto;
  }

  #home .unison-examples .examples .unison-doc {
    width: var(--examples-width);
  }
  #home .unison-examples .examples .hello-world,
  #home .unison-examples .examples .distributed-map-reduce,
  #home .unison-examples .examples .http-request,
  #home .at-a-glance-banner {
    width: var(--examples-width);
    border-radius: 0;
  }

  #home .unison-examples .examples .http-request section {
    flex-direction: column;
  }
}
