#page {
  --main-content-width: 50rem;
}

#page h1 {
  letter-spacing: 0.1rem;
  font-size: 2.5rem;
  margin: 0rem 0 2rem 0;
  line-height: 1.1;
  font-weight: 900;
  letter-spacing: -1px;
  color: var(--color-gray-darken-10);
}

#page .app-error {
  font-size: 1rem;
  text-align: center;
}

@media only screen and (max-width: 1264px) {
  #page {
    --main-footer-height: 6rem;
    --main-content-width: 100vw;
  }

  #page #main-content {
    padding: 0 1.5rem;
  }
}
