#roadmap {
  display: flex;
  flex-direction: column;
}

#roadmap #hero {
  border-radius: 0.75rem;
  background: var(--color-blue-2);
  color: var(--color-gray-lighten-100);
  text-align: center;
  padding: 4rem 0;
  width: 64rem;
  margin: auto;
  margin-top: calc(var(--main-content-top-margin) - 1rem);
}

#roadmap h1 {
  font-size: 3.5rem;
  font-weight: 900;
}

#roadmap .main-content {
  width: 64rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
}

#roadmap .main-content .divider {
  margin: 0;
}

.roadmap_intro {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.roadmap_section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.roadmap_section .roadmap_section_header {
  padding: 0 1.5rem;
}
.roadmap_section .roadmap_section_header p {
  color: var(--color-gray-lighten-20);
}

.roadmap_section h2 {
  font-size: 2rem;
  margin-bottom: 0.75rem;
}

.roadmap_items {
  display: flex;
  flex-direction: row;
  flex-wrap: 1;
  gap: 2rem;
}

.roadmap_item {
  background: var(--color-gray-lighten-60);
  padding: 1.5rem;
  width: 50%;
  border-radius: var(--border-radius-base);
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.roadmap_item header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.roadmap_item header h3 {
  font-size: 1.5rem;
}

.roadmap_item .roadmap_areas {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.roadmap_item .roadmap_areas li {
  border-radius: var(--border-radius-base);
  font-size: 0.75rem;
  font-weight: bold;
  line-height: 1;
  padding: 0.25rem 0.5rem;
  background: var(--color-purple-4);
}

.roadmap_item .roadmap_areas li.unison-share {
  background: var(--color-purple-5);
  color: var(--color-purple-1);
}

.roadmap_item .roadmap_areas li.ucm {
  background: var(--color-orange-3);
  color: #d37100;
}

.roadmap_item .roadmap_areas li.core-lang {
  background: var(--color-green-3);
  color: #158745;
}

.roadmap_item .roadmap_areas li.unison-cloud {
  background: var(--color-blue-4);
  color: var(--color-blue-1);
}

.roadmap_item .roadmap_item_description {
  font-size: 1.125rem;
}

.roadmap_item_small h3 {
  font-size: 1.125rem;
}
