#roadmap {
  display: flex;
  flex-direction: column;
  overflow-x: clip; /* hack */
}

#roadmap #hero {
  border-radius: 0.75rem;
  text-align: center;
  align-items: center;
  justify-content: center;
  padding: 4rem 0;
  width: 64rem;
  margin: auto;
  margin-top: calc(var(--main-content-top-margin) - 1rem);
  background: url(/assets/roadmap-hero.svg) no-repeat center;
  height: 22.25rem;
  background-size: contain;
}

#roadmap #hero h1 {
  font-size: 3.5rem;
  font-weight: 900;
  color: var(--color-blue-2);
  max-width: 40rem;
  margin: auto;
  text-shadow: white 0 0 2px;
  line-height: 1.2;
  padding-top: 1rem;
}

#roadmap #hero h1 .hero-roadmap {
  color: var(--color-gray-darken-10);
}

#roadmap #hero h2 {
  color: var(--color-gray-lighten-20);
  font-size: 2rem;
  text-shadow: white 0 0 2px;
}

#roadmap .main-content {
  width: 64rem;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 4rem;
  margin-top: 4rem;
}

#roadmap .main-content .divider {
  margin: 0;
}

.roadmap_intro {
  padding: 0 1.5rem;
  display: flex;
  flex-direction: column;
  font-size: 1;
  text-align: center;
  color: var(--color-gray-base);
  line-height: 1.5;
}

.roadmap_intro .subtle {
  color: var(--color-gray-lighten-20);
}

.roadmap_section {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.roadmap_section .roadmap_section_header {
  padding: 0 1.5rem;
}
.roadmap_section .roadmap_section_header p {
  color: var(--color-gray-lighten-20);
}

.roadmap_section h2 {
  font-size: 2rem;
  margin-bottom: 0.75rem;
}

.roadmap_items {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.roadmap_item {
  background: var(--color-gray-lighten-60);
  padding: 1.5rem;
  width: 33%;
  border-radius: var(--border-radius-base);
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
}

.roadmap_item header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.roadmap_item header h3 {
  font-size: 1.25rem;
}

.roadmap_item .roadmap_areas {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.roadmap_item .roadmap_areas li {
  border-radius: var(--border-radius-base);
  font-size: 0.625rem;
  font-weight: bold;
  line-height: 1;
  padding: 0.25rem 0.375rem;
  background: var(--color-gray-lighten-40);
  color: var(--color-gray-base);
  height: 1.125rem;
  white-space: nowrap;
}

.roadmap_item .roadmap_areas li.unison-share {
  background: var(--color-purple-5);
  color: var(--color-purple-1);
}

.roadmap_item .roadmap_areas li.ucm,
.roadmap_item .roadmap_areas li.performance {
  background: var(--color-orange-3);
  color: #d37100;
}

.roadmap_item .roadmap_areas li.core-language,
.roadmap_item .roadmap_areas li.runtime {
  background: var(--color-green-3);
  color: #158745;
}

.roadmap_item .roadmap_areas li.cloud,
.roadmap_item .roadmap_areas li.services {
  background: var(--color-blue-4);
  color: var(--color-blue-1);
}

.roadmap_item .roadmap_item_description {
  font-size: 1rem;
}

.roadmap_item_list {
  flex-direction: column;
}

.roadmap_item_list .roadmap_item {
  width: 100%;
  padding: 1rem 1.5rem;
  position: relative;
  transition: all 0.2s;
}

.roadmap_item_list .roadmap_item .tooltip {
  opacity: 0;
  display: absolute;
  top: 3rem;
  background: var(--color-gray-lighten-40);
  color: var(--color-gray-darken-30);
  max-width: 19rem;
  padding: 0.5rem 0.75rem;
  border-radius: var(--border-radius-base);
  transition: all 0.2s;
  pointer-events: none;
}
.roadmap_item_list .roadmap_item:hover {
  background: var(--color-gray-lighten-55);
}
.roadmap_item_list .roadmap_item:hover .tooltip {
  opacity: 1;
}

.roadmap_item_list .roadmap_item .tooltip:after {
  bottom: 100%;
  left: 1rem;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-bottom-color: var(--color-gray-lighten-40);
  border-width: 0.5rem;
  margin-left: -0.5rem;
}

.roadmap_item_small header {
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.roadmap_item_small header h3 {
  font-size: 1rem;
}

@media only screen and (max-width: 1056px) {
  #roadmap #hero {
    height: auto;
  }

  #roadmap #hero,
  #roadmap .main-content {
    width: 100%;
  }

  #roadmap .main-content {
    padding: 0 2rem;
    margin-top: 1rem;
  }
}
@media only screen and (max-width: 720px) {
  #roadmap #hero {
    background: 0;
    padding: 0 2rem;
  }
  #roadmap #hero h1 {
    font-size: 3rem;
  }
  #roadmap #hero h2 {
    font-size: 1.5rem;
  }
  #roadmap .main-content {
    margin-top: 3rem;
    padding: 0 1.5rem;
  }

  .roadmap_section .roadmap_section_header {
    padding: 0;
  }

  .roadmap_items {
    flex-direction: column;
  }
  .roadmap_items .roadmap_item {
    width: 100%;
  }

  .roadmap_items .roadmap_item .tooltip {
    max-width: 10rem;
  }
}
