---
tags: page
title: Unison Advent of Code 2024
---

<!DOCTYPE html>

<html lang="en">
  <head>
    {% include "_head.njk" %}
    <title>Unison Advent of Code 2024 | The Unison language</title>
  </head>

  <body>
    <main id="adventofcode2024">
      <header id="main-header">{% include "_main-nav.njk" %}</header>
      <div class="conference-content">
        <article class="hero">
          <img
            alt="Unison Advent of Code 2024"
            src="/assets/adventofcode2024.png"
            width="75%"
          />
          <section class="text">
            <h1>🎄 <br>'Tis the season</h1>
            <div class="description card">
              Every year the Unison community joins to solve daily programming puzzles. This year is no different.
              <br>Join us as we learn and enjoy the holiday spirits together.
            </div>
            <div class="actions">
              <a class="contained button large default" target="_blank" href="https://unison-lang.org/discord">Discord</a>
              <a class="contained button large default" target="_blank" href="https://share.unison-lang.org/@unison/advent-of-code">Template Project</a>
            </div>
          </section>
        </article>
        <div class="details">
          <h3>A bit about Unison, for the uninitiated</h3>

          <p>
            Unison is a general-purpose, statically typed functional programming
            language in which functions are saved and identified by a hash of
            their AST, not as text values on a file system.
            <a href="https://www.unison-lang.org/docs/the-big-idea/">
              We think this decision has radical consequences
            </a>
            and built everything from <a href="https://share.unison-lang.org/">
              our code hosting tooling
            </a> and <a href="https://www.unison.cloud/">cloud platform</a>
            to suit this new programming model. 😎
          </p>
        </div>
      </div>
    </main>
  </body>
</html>
