#adventofcode2024 {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}

#adventofcode2024 hr {
  height: 1px;
  background: var(--color-gray-lighten-50);
}

.card {
  padding: 1.5rem;
  background: var(--color-gray-lighten-55);
  border-radius: 0.5rem;
}

#adventofcode2024 .hero {
  width: 60rem;
  margin: 3rem auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  overflow: clip;
}

#adventofcode2024 .hero .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
  color: var(--color-gray-darken-30);
}

.description.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-between;
  margin-top: 0.5rem;
  background: var(--color-green-5);
  max-width: 32rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.details {
  width: 38rem;
  margin: auto;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.125rem;
  text-align: justify;
}

.details a {
  color: var(--color-green-1);
}

.details h3 {
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  #adventofcode2024 .hero,
  .conference-details,
  .schedule {
    width: 100%;
    padding: 0 1.5rem;
  }

  .conference-description {
    width: 100%;
  }
}

@media only screen and (max-width: 600px) {
  #adventofcode2024 .hero {
    margin-top: 4rem;
  }

  #adventofcode2024 .hero footer {
    font-size: 0.875rem;
  }

  #adventofcode2024 .hero footer img {
    max-width: 75%;
  }

  #adventofcode2024 .hero .text h2 {
    font-size: 0.875rem;
    font-weight: normal;
  }

  #adventofcode2024 .schedule-slot {
    flex-direction: column;
    gap: 0.5rem;
    align-items: flex-start;
  }

  #adventofcode2024 .schedule-time-range,
  #adventofcode2024 .schedule-description,
  #adventofcode2024 .schedule-speaker {
    width: auto;
  }

  #adventofcode2024 .schedule-speaker {
    flex-direction: row;
    gap: 0.5rem;
  }

  #adventofcode2024 .schedule-speaker .speaker-photo {
    width: 2rem;
    height: 2rem;
    border-radius: 1rem;
  }
}
