#adventofcode2024 {
  display: flex;
  flex-direction: column;
  padding-bottom: 4rem;
}

#adventofcode2024 hr {
  height: 1px;
  background: var(--color-gray-lighten-50);
}

#adventofcode2024 ul {
  margin-left: 1.5rem;
  margin-bottom: 0.75rem;
}

#adventofcode2024 ul + h3 {
  margin-top: 1rem;
}

#adventofcode2024 h3 {
  margin-top: 2rem;
  font-size: 1.25rem;
  font-weight: bold;
}

#adventofcode2024 pre code {
  background: var(--color-gray-lighten-55);
  width: 100%;
  border-radius: var(--border-radius-base);
  padding: 1rem;
}

#adventofcode2024 .hero {
  width: 60rem;
  margin: 3rem auto 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.75rem;
  overflow: clip;
}

#adventofcode2024 .hero .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  text-align: center;
  color: var(--color-gray-darken-30);
}

.description.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  justify-content: space-between;
  margin-top: 0.5rem;
  background: var(--color-green-5);
  max-width: 32rem;
  padding: 1rem;
  margin-bottom: 0.5rem;
}

.actions {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}

.details {
  max-width: 38rem;
  margin: auto;
  margin-bottom: 5rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  font-size: 1.125rem;
  padding: 0 1.5rem;
}

.details a {
  color: var(--color-green-1);
}

@media only screen and (max-width: 1024px) {
  #adventofcode2024 .hero {
    width: 100%;
    padding: 0 1.5rem;
  }
}

@media only screen and (max-width: 600px) {
  #adventofcode2024 .hero {
    margin-top: 4rem;
  }

  #adventofcode2024 .hero footer {
    font-size: 0.875rem;
  }

  #adventofcode2024 .hero footer img {
    max-width: 75%;
  }
}
