.unison-doc {
  position: relative;
  display: flex;
  line-height: 1.5;
  flex-direction: column;
  font-size: var(--font-size-base);
  color: var(--color-doc-fg);
  background: var(--color-doc-bg);

  --fold-toggle-column-width: 1.75rem;
  --doc-aside-width: 15rem;
  --doc-aside-margin: 1rem;
}

.unison-doc .word {
  margin-right: 0.5ch;
}

.unison-doc .group .join :nth-last-child(2) .word {
  margin-right: 0;
}

.unison-doc .source.code,
.unison-doc .sources .source,
.unison-doc .folded-sources .source,
.unison-doc .source.example,
.unison-doc .source.eval,
.unison-doc .source.signatures .signature {
  padding: 0.5rem 0.75rem;
  background: var(--color-doc-source-bg);
  border-radius: var(--border-radius-base);
  margin-bottom: 1rem;
  scrollbar-width: auto;
  scrollbar-color: var(--color-doc-subtle-fg) var(--color-transparent);
  overflow: auto;
  max-width: calc(var(--main-content-width) - 4rem);
}

.unison-doc .folded .source.code,
.unison-doc .folded .sources .source,
.unison-doc .folded .folded-sources .source,
.unison-doc .folded .source.example,
.unison-doc .folded .source.eval,
.unison-doc .folded .source.signatures .signature {
  max-width: calc(
    calc(var(--main-content-width) - 4rem) - var(--fold-toggle-column-width)
  );
}

.unison-doc .folded-sources .source {
  padding: 0.5rem;
}
.unison-doc .folded-sources .fold-toggle {
  margin-top: 1px;
}

.unison-doc .source.code::-webkit-scrollbar,
.unison-doc .sources .source::-webkit-scrollbar,
.unison-doc .folded-sources .source::-webkit-scrollbar,
.unison-doc .source.example::-webkit-scrollbar,
.unison-doc .source.eval::-webkit-scrollbar,
.unison-doc .source.signatures .signature::-webkit-scrollbar {
  height: 0.375rem;
}
.unison-doc .source.code::-webkit-scrollbar-track,
.unison-doc .sources .source::-webkit-scrollbar-track,
.unison-doc .folded-sources .source::-webkit-scrollbar-track,
.unison-doc .source.example::-webkit-scrollbar-track,
.unison-doc .source.eval::-webkit-scrollbar-track,
.unison-doc .source.signatures .signature::-webkit-scrollbar-track {
  background: var(--color-transparent);
}
.unison-doc .source.code::-webkit-scrollbar-thumb,
.unison-doc .sources .source::-webkit-scrollbar-thumb,
.unison-doc .folded-sources .source::-webkit-scrollbar-thumb,
.unison-doc .source.example::-webkit-scrollbar-thumb,
.unison-doc .source.eval::-webkit-scrollbar-thumb,
.unison-doc .source.signatures .signature::-webkit-scrollbar-thumb {
  background-color: var(--color-doc-subtle-fg);
  border-radius: var(--border-radius-base);
}

.unison-doc .source code {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.unison-doc
  .source:is(.inline-code, .example-inline, .eval-inline, .signature-inline) {
  display: inline-block;
  padding: 0 0.25rem;
  margin-right: 0.5ch;
  background: var(--color-doc-source-bg);
  border-radius: var(--border-radius-base);
  white-space: nowrap;
}
.unison-doc
  .group
  .join
  .source:is(.inline-code, .example-inline, .eval-inline, .signature-inline) {
  margin-right: 0;
}

.unison-doc
  .source:is(.inline-code, .example-inline, .eval-inline, .signature-inline)
  :is(.inline-code, code) {
  display: inline-flex;
  white-space: nowrap;
}

.unison-doc
  .group
  .join
  .source:is(.inline-code, .example-inline, .eval-inline, .signature-inline)
  :is(.inline-code, code) {
  margin-right: 0;
}

/* code and inline-code render sub unison-docs, not syntax */
:is(.unison-doc .source.code, .unison-doc .source.inline-code)
  .word:last-child {
  margin-right: 0;
}

.unison-doc .eval .result,
.unison-doc .eval-inline .result {
  color: var(--color-doc-subtle-fg);
}

.unison-doc strong {
  font-weight: bold;
}

.unison-doc .italic {
  font-style: italic;
}

.unison-doc .strikethrough {
  text-decoration: line-through;
}

.unison-doc .named-link:not(.invalid-href),
.unison-doc .named-link:not(.invalid-href):visited {
  color: var(--color-doc-link);
}
.unison-doc .named-link:not(.invalid-href):active {
  color: var(--color-doc-link-active);
}
.unison-doc .named-link:not(.invalid-href):hover {
  color: var(--color-doc-link-hover);
  text-decoration: none;
}

.unison-doc blockquote {
  position: relative;
  padding: 0.5rem 1.25rem;
  margin-left: 0rem;
  margin-bottom: 1rem;
}

.unison-doc blockquote:before {
  position: absolute;
  content: " ";
  top: 0;
  bottom: 0;
  left: 0;
  background: var(--color-doc-content-border);
  width: 0.25rem;
  border-radius: var(--border-radius-base);
}

.unison-doc hr {
  background: var(--color-doc-content-border);
  margin: 1.5rem 0;
}

.unison-doc .tooltip-trigger {
  text-decoration: underline dotted var(--color-doc-subtle-fg);
  text-underline-offset: 2px;
  /* Other tooltip styling is handled by elements/tooltip */
}

.unison-doc .tooltip {
  min-width: 24rem;
  top: 1rem;
}

.unison-doc .tooltip-bubble > section:only-child {
  margin: 0;
}
.unison-doc .tooltip-bubble > section:only-child > :is(h1, h2, h3, h4, h5) {
  margin-top: 0;
}

.unison-doc aside {
  position: absolute;
  right: calc(calc(var(--doc-aside-width) + var(--doc-aside-margin)) * -1);
  width: var(--doc-aside-width);
  font-size: var(--font-size-medium);
  background: var(--color-doc-aside-bg);
  padding: 0.5rem 0.75rem;
  margin-left: 1rem;
  border-radius: var(--border-radius-base);
}

.unison-doc aside > section:first-child {
  margin: 0;
}

.unison-doc aside .source.code,
.unison-doc aside .sources .source,
.unison-doc aside .folded-sources .source,
.unison-doc aside .source.example,
.unison-doc aside .source.eval,
.unison-doc aside .source.signatures .signature {
  background: var(--color-doc-aside-source-bg);
  padding: 0.375rem;
  max-width: 14rem; /* accounting for the aside padding */
  overflow: auto;
}
.unison-doc
  aside
  .source:is(.inline-code, .example-inline, .eval-inline, .signature-inline) {
  background: var(--color-doc-aside-source-bg);
  white-space: wrap;
}

.unison-doc .callout {
  background: var(--color-doc-callout-bg);
  padding: 0.75rem 1rem;
  margin-bottom: 1rem;
  border-radius: var(--border-radius-base);
  display: flex;
  flex-direction: row;
}

.unison-doc .callout .callout-content section .folded:last-child {
  margin-bottom: 0.25rem;
}

.unison-doc .folded-details .callout:nth-child(2) {
  margin-top: 1rem;
}

.unison-doc .callout.callout-with-icon .callout-content {
  padding-top: 1px;
  width: 100%;
}

.unison-doc .callout .callout-icon {
  margin-right: 0.5rem;
  font-size: var(--font-size-base);
}
.unison-doc .callout .source.code,
.unison-doc .callout .sources .source,
.unison-doc .callout .folded-sources .source,
.unison-doc .callout .source.example,
.unison-doc .callout .source.eval,
.unison-doc .callout .source.signatures .signature,
.unison-doc
  .callout
  .source:is(.inline-code, .example-inline, .eval-inline, .signature-inline) {
  background: var(--color-doc-callout-source-bg);
}

.unison-doc table {
  margin-bottom: 1rem;
  table-layout: fixed;
  border-collapse: collapse;
}

.unison-doc table td {
  border: 1px solid var(--color-doc-content-border);
  padding: 0.5rem;
  vertical-align: top;
}

.unison-doc .folded {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
}

.unison-doc .folded.is-folded > .folded-content > .folded-details {
  display: none;
}

.unison-doc .folded:not(.is-folded) > .folded-content > .folded-summary {
  display: none;
}

.unison-doc .folded .folded-content {
  flex: 1;
}

.unison-doc .folded .builtin-summary {
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
}

.unison-doc .source.folded .badge {
  margin-left: auto;
  justify-self: flex-end;
  background: var(--color-doc-source-mg);
  border: 0;
  font-size: 0.75rem;
  height: 1.25rem;
  padding: 0 0.25rem;
}

.unison-doc p {
  margin-bottom: 1em;
}

.unison-doc p:last-child {
  margin: 0;
}

.unison-doc ol,
.unison-doc ul {
  margin-left: 1.5rem;
  margin-bottom: 1em;
}

.unison-doc ol:last-child,
.unison-doc ul:last-child {
  margin-bottom: 0;
}

.unison-doc section {
  margin-bottom: 1rem;
  margin-top: 1.5rem;
}
.unison-doc section:first-child {
  margin-top: 0;
}
.unison-doc section:last-child {
  margin-bottom: 0;
}

:is(.unison-doc h1, .unison-doc h2, .unison-doc h3, .unison-doc h4, .unison-doc
    h5, .unison-doc h6)
  p {
  margin: 0;
}

:is(.unison-doc h1, .unison-doc h2, .unison-doc h3, .unison-doc h4, .unison-doc
    h5, .unison-doc h6) {
  color: var(--color-doc-heading-fg);
}

:is(.unison-doc h1, .unison-doc h2, .unison-doc h3, .unison-doc h4, .unison-doc
    h5, .unison-doc h6)
  a {
  scroll-margin-top: 1.5rem;
}

.unison-doc h1 {
  font-size: 1.5rem;
  margin-top: 1.5rem;
  margin-bottom: 0.75rem;
}
.unison-doc h1:first-child {
  margin-top: 0;
  line-height: 1.1;
}

.unison-doc h2 {
  font-size: 1.25rem;
  margin-top: 1.5rem;
  margin-bottom: 0.5rem;
}

.unison-doc h3 {
  font-size: 1rem;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.unison-doc h4 {
  font-size: 1rem;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.unison-doc h5 {
  font-size: 1rem;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.unison-doc h6 {
  font-size: 1rem;
  margin-top: 1.25rem;
  margin-bottom: 0.5rem;
}

.unison-doc img {
  margin-bottom: 1rem;
  max-width: 100%;
}

.unison-doc .image-with-caption {
  width: 100%;
}

.unison-doc .image-with-caption .caption {
  text-align: center;
  font-style: italic;
}

.unison-doc .embed {
}

.unison-doc .embed-inline {
}

.unison-doc .column {
  margin: 0;
  list-style-type: none;
}

.unison-doc .group {
}

@media only screen and (max-width: 1024px) {
  .unison-doc aside {
    position: relative;
    right: auto;
    width: auto;
    margin: 1.5rem 1.5rem 1.5rem 1.5rem;
  }

  .unison-doc aside .source.code,
  .unison-doc aside .sources .source,
  .unison-doc aside .folded-sources .source,
  .unison-doc aside .source.example,
  .unison-doc aside .source.eval,
  .unison-doc aside .source.signatures .signature {
    max-width: none;
    width: min(40rem, calc(calc(100vw - 5rem)) - 3rem);
  }

  .unison-doc {
    width: calc(100vw - 4rem);
  }
  .unison-doc .source.code,
  .unison-doc .sources .source,
  .unison-doc .folded-sources .source,
  .unison-doc .source.example,
  .unison-doc .source.eval,
  .unison-doc .source.signatures .signature {
  }
  .unison-doc .source.code,
  .unison-doc .sources .source,
  .unison-doc .folded-sources .source,
  .unison-doc .source.example,
  .unison-doc .source.eval,
  .unison-doc .source.signatures .signature {
    width: auto;
  }
}
