/* -- Resets --------------------------------------------------------------- */

body,
h1,
h2,
h3,
h4,
h5,
ul,
p,
ol,
table,
tr,
td,
li {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -- Base ----------------------------------------------------------------- */

:root {
  --size-base: 16px;
  --main-header-height: 3.5rem;
  --main-content-height: calc(100vh - var(--main-header-height));
  --main-content-width: 50rem;
  --main-content-top-margin: 4rem;
  --main-content-padding: 2rem;
  /* used to query width further down in page */
  --main-inner-content-width: calc(
    var(--main-content-width) - calc(var(--main-content-padding) * 2)
  );
  --main-footer-height: 3.5rem;
  --border-radius-base: 0.25rem;

  /* -- Layers ------------------------------------------------------------- */
  --layer-base: 1;
  --layer-popover: 50;
  --layer-tooltip: 75;
  --layer-modal-overlay: 99;
  --layer-modal: 100;
  --layer-modal-above: 110;

  /* -- Font --------------------------------------------------------------- */
  --font-sans-serif: "Inter", sans-serif;
  --font-monospace: "Fira Code", monospace;
  --font-size-base: 1rem;
  --font-size-large: 1.5rem;
  --font-size-medium: 0.875rem;
  --font-size-small: 0.75rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--size-base);
  font-family: var(--font-sans-serif);
  font-variant-ligatures: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-size: 1rem;
  line-height: 1.4;
  background: var(--color-main-bg);
  color: var(--color-main-fg);
}

/* -- Website -------------------------------------------------------------- */

main {
  display: grid;
  grid-template-rows: var(--main-header-height) auto;
  transition: grid-template-columns 0.3s;
}

main#home {
  grid-template-columns: auto;
  grid-template-areas: "main-header" "main-content";
}

main#learn {
  grid-template-columns: auto;
  grid-template-areas: "main-header" "main-content";
}

main#article {
  grid-template-columns: auto;
  grid-template-areas: "main-header" "main-content";
}

main#page {
  grid-template-columns: auto;
  grid-template-areas: "main-header" "main-content";
}

main#whats-new-index {
  grid-template-columns: auto;
  grid-template-areas: "main-header" "main-content";
}

main#whats-new-post {
  grid-template-columns: auto;
  grid-template-areas: "main-header" "main-content";
}

#main-header {
  grid-area: main-header;
  height: var(--main-header-height);
  background: var(--color-main-header-bg);
  color: var(--color-main-header-fg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--color-main-header-border);
  font-size: var(--font-size-medium);
  margin-top: 1rem;
}

#main-header nav {
  width: 64rem;
  height: 1.5rem;
  display: flex;
}

#main-header nav .navs {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

#main-header nav section,
#main-header nav .social-links {
  display: flex;
  gap: 1rem;
}

#main-header nav section > a {
  position: relative;
  color: var(--color-main-header-fg);
  line-height: 1.5rem;
  padding: 0 0.5rem;
  white-space: nowrap;
}

#main-header nav section > a .tooltip {
  width: fit-content;
  max-width: fit-content;
  top: 1.5rem;
  left: -50%;
  transform: translateX(1rem);
}

#main-header nav section > a .tooltip-bubble {
  width: fit-content;
  max-width: fit-content;
  min-width: fit-content;
  white-space: nowrap;
}

#main-header nav section > a:after {
  content: " ";
  position: absolute;
  bottom: -2px;
  left: 0.5rem;
  right: 0.5rem;
  height: 2px;
  border-radius: 2px;
  background: var(--color-gray-lighten-45);
  opacity: 0;
  transition: all 0.2s;
}

#main-header nav section > a[aria-current] {
  font-weight: bold;
  color: var(--color-gray-darken-20);
}

#main-header nav section > a[aria-current]:after {
  opacity: 1;
  background: var(--color-pink-1);
}

#main-header nav section > a:hover {
  color: var(--color-gray-darken-30);
  text-decoration: none;
  background: var(--color-gray-lighten-55);
  border-radius: var(--border-radius-base);
}

#main-header nav a#logo:after {
  opacity: 0;
}

#main-header nav a#logo {
  margin-right: 2.5rem;
  font-weight: bold;
  color: var(--color-main-header-current-fg);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--font-size-base);
}

#main-header nav a#logo:hover {
  color: var(--color-main-header-logo-hover);
  text-decoration: none;
}

#main-header nav #logo-icon {
  width: var(--font-size-base);
  height: var(--font-size-base);
  margin-top: -4px;
}

#main-header #secondary-nav .social-links {
  padding: 4px;
}

#main-header #secondary-nav .icon {
  font-size: 0.875rem;
  color: var(--color-main-subtle-fg-em);
}

#main-header #secondary-nav a:hover .icon {
  color: var(--color-main-fg);
}

#main-content {
  position: relative;
  grid-area: main-content;
  background: var(--color-main-bg);
  color: var(--color-main-fg);
  width: var(--main-content-width);
  margin: auto;
  padding: var(--main-content-padding);
  padding-top: 0;
  margin-top: var(--main-content-top-margin);
}

#main-footer {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  padding: 0 2rem;
  height: var(--main-footer-height);
  font-size: var(--font-size-small);
  color: var(--color-main-subtle-fg);
  justify-content: center;
  gap: 0.25rem;
  white-space: nowrap;
}

#main-footer .social-links {
  display: flex;
  gap: 0.25rem;
  padding-top: 2px;
}
#main-footer .social-links .icon {
  color: var(--color-main-subtle-fg-em);
}
#main-footer .social-links a:hover .icon {
  color: var(--color-main-fg);
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

.modal-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: var(--layer-modal);
}
.modal-overlay.soft-overlay {
  background: rgba(0, 0, 0, 0.4);
}

.modal-dialog {
  background: var(--color-gray-lighten-100);
  width: 42rem;
  max-height: calc(100vh - 8rem);
  border-radius: var(--border-radius-base);
  position: absolute;
  top: 4rem;
  padding: 0;
  padding-top: 2rem;
  left: 0;
}

.modal-dialog .modal-content {
  overflow: auto;
  max-height: calc(100vh - 10.5rem);
  padding: 0rem 2rem 1rem 2rem;
  scrollbar-width: 0.5rem;
  scrollbar-color: var(--color-doc-subtle-fg) var(--color-transparent);
}
.modal-dialog .modal-content::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}
.modal-dialog .modal-content::-webkit-scrollbar-track {
  background: var(--color-transparent);
}
.modal-dialog .modal-content::-webkit-scrollbar-thumb {
  background-color: var(--color-doc-subtle-fg);
  border-radius: var(--border-radius-base);
}

.modal-dialog .control {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.modal-dialog .control .icon {
  color: var(--color-gray-lighten-30);
}

.modal-dialog .control:hover .icon {
  color: var(--color-pink-2);
}

/* -- Autocomplete Search -------------------------------------------------- */

#autocomplete {
  --autocomplete-width: 40rem;
}

#autocomplete-search {
  z-index: var(--layer-modal-above);
  position: absolute;
  top: 11rem;
  left: 50%;
  transform: translateX(-50%);
  background: var(--color-gray-lighten-100);
  display: none;
  width: var(--autocomplete-width);
  box-shadow: 0 0.375rem 1rem var(--color-modal-shadow),
    0 0 0 1px var(--color-modal-border);
  margin-top: -1.85rem;
  margin-left: -1px;
  border-radius: var(--border-radius-base);
}

#autocomplete.show-search #autocomplete-search {
  display: flex;
  flex-direction: column;
}

#autocomplete.show-search #autocomplete-search li {
  width: var(--autocomplete-width);
  list-style-type: none;
}

#autocomplete.show-search #autocomplete-search .aa-Form {
  display: flex;
  flex-direction: row;
  background: var(--color-gray-lighten-60);
  border-radius: var(--border-radius-base);
  height: 3rem;
  align-items: center;
}

#autocomplete.show-search #autocomplete-search .aa-InputWrapperPrefix {
  position: absolute;
}

#autocomplete.show-search #autocomplete-search .icon-search {
  font-size: 1.5rem;
  line-height: 3rem;
  margin-left: 1rem;
  margin-right: 0.75rem;
  margin-top: -3px;
  color: var(--color-modal-subtle-fg);
}

#autocomplete.show-search #autocomplete-search .aa-InputWrapper {
  height: 3rem;
}

#autocomplete.show-search #autocomplete-search input {
  background: var(--color-gray-lighten-60);
  width: calc(var(--autocomplete-width) - 2px);
  height: 3rem;
  border-radius: var(--border-radius-base);
  padding-right: 0.75rem;
  padding-left: 3.25rem;
  line-height: 3rem;
  font-size: var(--font-size-base);
  font-weight: bold;
  appearance: none !important;
}
#autocomplete.show-search #autocomplete-search input::placeholder {
  font-weight: normal;
}
#autocomplete.show-search #autocomplete-search input:focus {
  outline: none;
}

#autocomplete.show-search
  #autocomplete-search
  input::-webkit-search-cancel-button {
  -webkit-appearance: none;
  position: relative;
  height: 0.875rem;
  width: 0.875rem;
  right: 0;
  background: url(/assets/icon-x.svg);
  opacity: 0.4;
}

#autocomplete.show-search #autocomplete-search mark {
  background: none;
  color: var(--color-blue-2);
}

#autocomplete.show-search #autocomplete-panel .aa-Panel {
  border-top: 1px solid var(--color-modal-inner-border);
}

#autocomplete.show-search #autocomplete-search .match {
  display: flex;
  flex: 1;
  flex-direction: column;
  padding: 0.375rem 0.75rem;
  margin: 0.75rem;
  border-radius: var(--border-radius-base);
}

#autocomplete.show-search #autocomplete-search [aria-selected="true"] .match {
  background: var(--color-gray-lighten-55);
}
#autocomplete.show-search #autocomplete-search .match:hover {
  text-decoration: none;
  background: var(--color-gray-lighten-55);
}

#autocomplete.show-search #autocomplete-search .match .match-title {
  font-size: var(--font-size-medium);
  font-weight: bold;
  color: var(--color-gray-darken-20);
  line-height: 1.5rem;
}
#autocomplete.show-search #autocomplete-search .match .match-content {
  font-size: var(--font-size-small);
  color: var(--color-gray-darken-20);
  line-height: 1.5rem;
}

/* removing some default algolia ui */
#autocomplete-search .aa-SubmitButton,
#autocomplete-search .aa-ClearButton {
  display: none;
}

.size-small-only {
  display: none;
}

.katex-display {
  padding: 4rem 0;
}

@media only screen and (max-width: 1110px) {
  :root {
    --main-header-height: 1.5rem;
    --main-footer-height: 6rem;
    --main-content-width: 100vw;
  }

  #main-header nav {
    width: var(--main-content-width);
    padding: 0 2rem;
  }

  #main-header nav .logo {
    margin-right: 0;
  }

  #main-header nav section {
    gap: 0.5rem;
  }

  #main-footer {
    flex-direction: row;
  }
}

@media only screen and (max-width: 960px) {
  :root {
    --main-content-top-margin: 6rem;
  }

  #autocomplete {
    --autocomplete-width: 100vw - 6rem;
  }

  #autocomplete-search {
    top: 3rem;
    max-height: calc(100vh - 2rem);
    overflow-y: auto;
  }

  #main-header {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  #main-header #main-nav {
    flex-direction: column;
    gap: 1.5rem;
    align-items: center;
  }

  #main-header nav section a#logo {
    margin-right: 0;
  }

  #main-header nav .navs {
    flex-direction: column;
  }
  #main-header #secondary-nav {
    margin: 0.5rem auto 0 auto;
  }

  #main-footer {
    margin: 0;
  }

  #main-footer .public-benefit {
    display: none;
  }
}

@media only screen and (max-width: 650px) {
  .size-small-only {
    display: initial;
  }

  .size-medium-plus {
    display: none;
  }

  #main-header nav .button label {
    display: none;
  }
  #main-header #secondary-nav .social-links {
    gap: 0.5rem;
  }
}

@media only screen and (max-width: 450px) {
  #main-header nav a#logo {
    margin: 0;
  }

  #main-header nav section > a:hover .tooltip {
    opacity: 0;
  }

  #main-content {
    margin-top: 8rem;
  }

  #main-header nav .button {
    display: none;
  }
}
