/* -- Resets --------------------------------------------------------------- */

body,
h1,
h2,
h3,
h4,
h5,
ul,
p,
ol,
table,
tr,
td,
li {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -- Base ----------------------------------------------------------------- */

:root {
  --size-base: 16px;
  --main-header-height: 3.5rem;
  --main-sidebar-width: 17rem;
  --main-content-width: 50rem;
  --main-content-height: calc(100vh - var(--main-header-height));
  --main-footer-height: 3.5rem;
  --border-radius-base: 0.25rem;

  /* -- Layers ------------------------------------------------------------- */
  --layer-base: 1;
  --layer-popover: 50;
  --layer-tooltip: 75;
  --layer-modal-overlay: 99;
  --layer-modal: 100;
  --layer-modal-above: 110;

  /* -- Font --------------------------------------------------------------- */
  --font-sans-serif: "Inter", sans-serif;
  --font-monospace: "Fira Code", monospace;
  --font-size-base: 1rem;
  --font-size-large: 1.5rem;
  --font-size-medium: 0.875rem;
  --font-size-small: 0.75rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--size-base);
  font-family: var(--font-sans-serif);
  font-variant-ligatures: none;
}

body {
  font-size: 1rem;
  line-height: 1.4;
  background: var(--color-base-bg);
  color: var(--color-base-fg);
  -webkit-text-size-adjust: 100%;
}

/* -- Website -------------------------------------------------------------- */

main {
  display: grid;
  grid-template-rows: var(--app-header-height) auto;
  transition: grid-template-columns 0.3s;
}

main#doc {
  grid-template-columns: var(--main-sidebar-width) auto;
  grid-template-areas:
    "main-header main-header"
    "main-sidebar main-content";
}

main#article {
  grid-template-columns: auto;
  grid-template-areas: "main-header" "main-content";
}

#main-header {
  grid-area: main-header;
  height: var(--main-header-height);
  background: var(--color-main-header-bg);
  color: var(--color-main-header-fg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--color-main-header-border);
  font-size: var(--font-size-medium);
}

#main-header nav {
  width: 64rem;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
}

#main-header nav section {
  display: flex;
  gap: 1.5rem;
}

#main-header nav section a {
  color: var(--color-main-header-fg);
  line-height: 1.5rem;
}

#main-header nav section a:hover {
  color: var(--color-main-header-current-fg);
}

#main-header nav section a#logo {
  margin-right: 2.5rem;
  font-weight: bold;
  color: var(--color-main-header-current-fg);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--font-size-base);
}

#main-header nav section a#logo:hover {
  color: var(--color-main-header-logo-hover);
}
#main-header nav section #logo-icon {
  width: var(--font-size-base);
  height: var(--font-size-base);
}

#main-content {
  grid-area: main-content;
  height: var(--main-content-height);
  background: var(--color-main-bg);
  color: var(--color-main-fg);
  overflow: auto;
  width: var(--main-content-width);
  margin: auto;
  padding: 8rem 2rem 2rem 2rem;
}

#main-footer {
  display: flex;
  align-items: center;
  margin-top: 2rem;
  padding: 0 2rem;
  height: var(--main-footer-height);
  font-size: var(--font-size-small);
  color: var(--color-base-subtle-fg);
  justify-content: center;
  gap: 0.5rem;
}

@media only screen and (max-width: 1024px) {
  #main-header nav {
    width: 100vw;
    max-width: var(--main-content-width);
  }
}
