css/* -- Resets --------------------------------------------------------------- */

body,
h1,
h2,
h3,
h4,
h5,
ul,
p,
ol,
table,
tr,
td,
li {
  margin: 0;
  padding: 0;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* -- Base ----------------------------------------------------------------- */

:root {
  --size-base: 16px;
  --main-header-height: 3.5rem;
  --cssmain-sidebar-width: 17rem;
  --main-content-height: calc(100vh - var(--main-header-height));
  --main-content-width: 50rem;
  --main-content-top-padding: 4rem;
  --main-content-padding: 2rem;
  /* used to query width further down in page */
  --main-inner-content-width: calc(
    var(--main-content-width) - calc(var(--main-content-padding) * 2)
  );
  --main-footer-height: 3.5rem;
  --border-radius-base: 0.25rem;

  /* -- Layers ------------------------------------------------------------- */
  --layer-base: 1;
  --layer-popover: 50;
  --layer-tooltip: 75;
  --layer-modal-overlay: 99;
  --layer-modal: 100;
  --layer-modal-above: 110;

  /* -- Font --------------------------------------------------------------- */
  --font-sans-serif: "Inter", sans-serif;
  --font-monospace: "Fira Code", monospace;
  --font-size-base: 1rem;
  --font-size-large: 1.5rem;
  --font-size-medium: 0.875rem;
  --font-size-small: 0.75rem;
}

* {
  box-sizing: border-box;
}

html {
  font-size: var(--size-base);
  font-family: var(--font-sans-serif);
  font-variant-ligatures: none;
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  font-size: 1rem;
  line-height: 1.4;
  background: var(--color-main-bg);
  color: var(--color-main-fg);
}

/* -- Website -------------------------------------------------------------- */

main {
  display: grid;
  grid-template-rows: var(--app-header-height) auto;
  transition: grid-template-columns 0.3s;
}

main#front {
  grid-template-columns: auto;
  grid-template-areas: "main-header" "main-content";
  text-align: center;
}

main#doc {
  grid-template-columns: auto;
  grid-template-areas: "main-header" "main-content";
}

main#article {
  grid-template-columns: auto;
  grid-template-areas: "main-header" "main-content";
}

#main-header {
  grid-area: main-header;
  height: var(--main-header-height);
  background: var(--color-main-header-bg);
  color: var(--color-main-header-fg);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--color-main-header-border);
  font-size: var(--font-size-medium);
  margin-top: 1rem;
}

#main-header nav {
  width: 64rem;
  height: 1.5rem;
  display: flex;
  justify-content: space-between;
}

#main-header nav section {
  display: flex;
  gap: 1rem;
}

#main-header nav section a {
  color: var(--color-main-header-fg);
  line-height: 1.5rem;
  padding: 0 0.5rem;
  border-radius: var(--border-radius-base);
}

#main-header nav section a[aria-current] {
  font-weight: bold;
  color: var(--color-gray-darken-20);
  background: var(--color-gray-lighten-50);
}

#main-header nav section a:hover {
  color: var(--color-main-header-current-fg);
  text-decoration: none;
  background: var(--color-gray-lighten-60);
}

#main-header nav section a#logo {
  margin-right: 2.5rem;
  font-weight: bold;
  color: var(--color-main-header-current-fg);
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: var(--font-size-base);
}

#main-header nav section a#logo:hover {
  color: var(--color-main-header-logo-hover);
}

#main-header nav section #logo-icon {
  width: var(--font-size-base);
  height: var(--font-size-base);
  margin-top: -4px;
}

#main-content {
  grid-area: main-content;
  height: var(--main-content-height);
  background: var(--color-main-bg);
  color: var(--color-main-fg);
  overflow: auto;
  width: var(--main-content-width);
  margin: auto;
  padding: var(--main-content-padding);
  padding-top: var(--main-content-top-padding);
}

#main-footer {
  display: flex;
  align-items: center;
  margin: 2rem 0;
  padding: 0 2rem;
  height: var(--main-footer-height);
  font-size: var(--font-size-small);
  color: var(--color-main-subtle-fg);
  justify-content: center;
  gap: 0.25rem;
}

body.modal-open {
  height: 100vh;
  overflow-y: hidden;
}

.modal-overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: var(--layer-modal);
}

.modal-dialog {
  background: var(--color-gray-lighten-100);
  width: 42rem;
  max-height: calc(100vh - 8rem);
  border-radius: var(--border-radius-base);
  position: absolute;
  top: 4rem;
  padding: 0;
  padding-top: 2rem;
  left: 0;
}

.modal-dialog .modal-content {
  overflow: auto;
  max-height: calc(100vh - 10.5rem);
  padding: 0rem 2rem 1rem 2rem;
  scrollbar-width: 0.5rem;
  scrollbar-color: var(--color-doc-subtle-fg) var(--color-transparent);
}
.modal-dialog .modal-content::-webkit-scrollbar {
  height: 0.5rem;
  width: 0.5rem;
}
.modal-dialog .modal-content::-webkit-scrollbar-track {
  background: var(--color-transparent);
}
.modal-dialog .modal-content::-webkit-scrollbar-thumb {
  background-color: var(--color-doc-subtle-fg);
  border-radius: var(--border-radius-base);
}

.modal-dialog .control {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  width: 2rem;
  height: 2rem;
  cursor: pointer;
  display: flex;
  flex: 1;
  align-items: center;
  justify-content: center;
}

.modal-dialog .control .icon {
  color: var(--color-gray-lighten-30);
}

.modal-dialog .control:hover .icon {
  color: var(--color-pink-2);
}

@media only screen and (max-width: 1264px) {
  #main-content {
    margin-left: 2rem;
  }
}

@media only screen and (max-width: 1110px) {
  :root {
    --main-footer-height: 6rem;
    --main-content-width: 100vw;
  }

  #main-content {
    margin-left: 0;
  }

  #main-header nav {
    width: var(--main-content-width);
    padding: 0 2rem;
  }

  #main-header nav .logo {
    margin-right: 0;
  }

  #main-header nav section {
    gap: 0.5rem;
  }

  #main-footer {
    flex-direction: column;
  }
}
