---
title: Not Found
permalink: 404.html
---

<!DOCTYPE html>

<html lang="en">
  <head>
    {% include "_head.njk" %}
    <title>The Unison language | Page not found</title>
  </head>
  <body>
    <main id="page">
      <header id="main-header">{% include "_main-nav.njk" %}</header>
      <div id="main-content">
        <div class="app-error">
          <h1>😞 Not Found</h1>
          <p>
            We're sorry, but we couldn't find the page you were looking for.
          </p>
        </div>
        {% include "_footer.njk" %}
      </div>
    </main>
  </body>
</html>
