---
title: Application Error
permalink: 500.html
---

<!DOCTYPE html>

<html lang="en">
  <head>
    {% include "_head.njk" %}
    <title>The Unison language | Application Error</title>
  </head>
  <body>
    <main id="page">
      <header id="main-header">{% include "_main-nav.njk" %}</header>
      <div id="main-content">
        <div class="app-error">
          <h1>😞 Error</h1>
          <p>We're sorry, but something when wrong. Please try again later.</p>
        </div>
        {% include "_footer.njk" %}
      </div>
    </main>
  </body>
</html>
