---
permalink: /algolia.json
---
[
{%- for d in collections.doc -%}
	{
  "title": {{ d.data.title | jsonify }},
  "url": "{{ d.url }}",
  "content":{{ d.templateContent | jsonify }}
}{%- if loop.last -%} {%- else -%},{%- endif -%}
{%- endfor -%}
]
