---
permalink: /whats-new.json
---

[
{%- for p in collections['whats-new'] -%}
	{
    "title": "{{ p.data.title }}",
    "url": "{{ p.url }}",
    "summary": "{{ p.data.summary }}"
  }{%- if loop.last -%}{%- else -%},{%- endif -%}
{%- endfor -%}
]
