---
tags: page
title: Unison Forall 2022
---

<!DOCTYPE html>

<html lang="en">
  <head>
    {% include "_head.njk" %}
    <title>Unison Forall 2024 | The Unison language</title>
  </head>

  <body>
    <main id="unison-forall-2024">
      <header id="main-header">{% include "_main-nav.njk" %}</header>

      <article class="hero">
        <img
          alt="Unison Forall logo mark"
          src="/assets/unison-forall.png"
          width="75%"
        />
        <section class="text">
          <h1>Unison Forall 2024</h1>
          <hr>
          <h2>Remote and free conference</h2>
          <h3>September 20 2024</h3>
          <hr>
          <div>
            <a data-tf-popup="https://drahilgwy2i.typeform.com/unisonForall24" class="contained button large primary">Register</a>
            <a href="https://www.papercall.io/unisonforall2024" target="_blank" class="contained button large default">CFP</a>
          </div>
        </section>
      </article>
    </main>
    <script src="//embed.typeform.com/next/embed.js"></script>
  </body>
</html>
